node-red/lib/flows/flows.json
[{"id":"33296a74.8c84e6","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"efa3e21f.00166","type":"tab","label":"Fuel","disabled":false,"info":""},{"id":"286c0b5b.c41264","type":"server","z":"","name":"Home Assistant"},{"id":"9c877518.ac2838","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cefc827b.5863c","type":"mqtt-broker","z":"","name":"Local MQTT","broker":"192.168.1.62","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2f3e5fa4.9f675","type":"influxdb","z":"","hostname":"192.168.1.62","port":"8086","protocol":"http","database":"homeassistant","name":"HA","usetls":false,"tls":""},{"id":"aa38b4cd.fd71e8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Total Rain Last 365","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 365d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":40,"wires":[["6990101e.7a3e2"]]},{"id":"33e5e0d0.4cae8","type":"inject","z":"33296a74.8c84e6","name":"5MinInt","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":140,"wires":[["aa38b4cd.fd71e8","4ee480eb.ef06f","6422bd86.dbfdc4","f0e0945b.86dac8","d136ec3b.a7eea","e9fe76cb.f514a8","53165fa.aa01fa","7d6dbaa3.0b2bc4"]]},{"id":"cd416e62.0709e","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMTotalRain365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_totalrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[{"property":"count","value":"$round(msg.payload.count,0)","valueType":"jsonata"},{"property":"countstring","value":"$round(msg.payload.count,0) & \" Days\"","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":870,"y":40,"wires":[[]]},{"id":"6990101e.7a3e2","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":40,"wires":[["cd416e62.0709e"]]},{"id":"4ee480eb.ef06f","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max Rain Last 365","query":"select time, max(\"max_value\") from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":100,"wires":[["87c1e848.7671d8"]]},{"id":"87c1e848.7671d8","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":100,"wires":[["627a0576.239d9c"]]},{"id":"1869b2c4.d2918d","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMMaxRain365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_maxrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.max, 2)","stateType":"jsonata","attributes":[{"property":"date","value":"date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1030,"y":100,"wires":[[]]},{"id":"627a0576.239d9c","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"date","outputType":"msg","outTz":"Australia/Sydney","x":810,"y":100,"wires":[["1869b2c4.d2918d"]]},{"id":"5f38fb64.d46bf4","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMMinTemp365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_tempmin_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-down"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 2)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 2)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":440,"wires":[[]]},{"id":"6422bd86.dbfdc4","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Min/Min Temp Last 365","query":"select time, min(\"min_temp\") as \"mintemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":400,"y":380,"wires":[["41240045.39621"]]},{"id":"41240045.39621","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":380,"wires":[["e9ec0b8b.057e78"]]},{"id":"e9ec0b8b.057e78","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":380,"wires":[["643b78ea.641f18"]]},{"id":"a120a324.04329","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":440,"wires":[["643b78ea.641f18"]]},{"id":"7c7b8478.a6824c","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":440,"wires":[["a120a324.04329"]]},{"id":"f0e0945b.86dac8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Min/Max Temp Last 365","query":"select time, max(\"min_temp\") as \"maxtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":440,"wires":[["7c7b8478.a6824c"]]},{"id":"643b78ea.641f18","type":"join","z":"33296a74.8c84e6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":950,"y":440,"wires":[["5f38fb64.d46bf4"]]},{"id":"2b710378.3ce9ac","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":500,"wires":[["643b78ea.641f18"]]},{"id":"d136ec3b.a7eea","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Min/Avg Temp Last 365","query":"select time, mean(\"min_temp\") as \"avgtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":500,"wires":[["2b710378.3ce9ac"]]},{"id":"e663f7e9.a5b388","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMMaxTemp365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_tempmax_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-up"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 2)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 2)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1150,"y":240,"wires":[[]]},{"id":"e9fe76cb.f514a8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max/Min Temp Last 365","query":"select time, min(\"max_temp\") as \"mintemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":180,"wires":[["ff9e7fe0.0853e"]]},{"id":"ff9e7fe0.0853e","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":180,"wires":[["2f947474.b9582c"]]},{"id":"2f947474.b9582c","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":790,"y":180,"wires":[["b3120e03.61dc2"]]},{"id":"4e4fc53d.3cfd7c","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":790,"y":240,"wires":[["b3120e03.61dc2"]]},{"id":"b7a945ad.2ddee8","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":240,"wires":[["4e4fc53d.3cfd7c"]]},{"id":"53165fa.aa01fa","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max/Max Temp Last 365","query":"select time, max(\"max_temp\") as \"maxtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":240,"wires":[["b7a945ad.2ddee8"]]},{"id":"b3120e03.61dc2","type":"join","z":"33296a74.8c84e6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":970,"y":240,"wires":[["e663f7e9.a5b388"]]},{"id":"9f3bee52.92813","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":300,"wires":[["b3120e03.61dc2"]]},{"id":"7d6dbaa3.0b2bc4","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max/Avg Temp Last 365","query":"select time, mean(\"max_temp\") as \"avgtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":300,"wires":[["9f3bee52.92813"]]},{"id":"48e2edd4.7a6364","type":"inject","z":"efa3e21f.00166","name":"5MinInt","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":40,"wires":[["8263edf2.e9cd6","445d331e.744f7c","8e95b5d2.2f2598","ccbeed91.10f9b","ee591866.0b8548","bc17475c.d8dd18"]]},{"id":"8263edf2.e9cd6","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"BPViaduct Min Price 365","query":"select time, min(value) as min_value from (SELECT min(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_bp_tamworth_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":80,"wires":[["4f92ad14.088f34"]]},{"id":"445d331e.744f7c","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"BPViaduct Max Price 365","query":"select time, max(value) as max_value from (SELECT max(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_bp_tamworth_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":140,"wires":[["29d9f645.03017a"]]},{"id":"4f92ad14.088f34","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":80,"wires":[["27833f49.a8c4d"]]},{"id":"29d9f645.03017a","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":140,"wires":[["7dd5081b.7fd918"]]},{"id":"8e95b5d2.2f2598","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"BPViaduct Avg Price 365","query":"select mean(value) as avg_value from (SELECT mean(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_bp_tamworth_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":200,"wires":[["fe3e52b2.e646f"]]},{"id":"fe3e52b2.e646f","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":200,"wires":[["24392b1.28cded4"]]},{"id":"7dd5081b.7fd918","type":"moment","z":"efa3e21f.00166","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":140,"wires":[["24392b1.28cded4"]]},{"id":"27833f49.a8c4d","type":"moment","z":"efa3e21f.00166","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":80,"wires":[["24392b1.28cded4"]]},{"id":"24392b1.28cded4","type":"join","z":"efa3e21f.00166","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":930,"y":140,"wires":[["e133678a.067db8"]]},{"id":"e133678a.067db8","type":"ha-entity","z":"efa3e21f.00166","name":"BPViaductStats365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"fuel_bpviaduct_stats365"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:fuel"},{"property":"unit_of_measurement","value":"¢/L"}],"state":"$round(msg.payload.avg_value, 2)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.max_value, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.min_value, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avg_value, 2)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1110,"y":140,"wires":[[]]},{"id":"ccbeed91.10f9b","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"CaltexWhite Min Price 365","query":"select time, min(value) as min_value from (SELECT min(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_caltex_tamworth_orana_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":260,"wires":[["e0aa9b84.ba53d8"]]},{"id":"ee591866.0b8548","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"CaltexWhite Max Price 365","query":"select time, max(value) as max_value from (SELECT max(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_caltex_tamworth_orana_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":320,"wires":[["f2f7aff8.155f"]]},{"id":"e0aa9b84.ba53d8","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":260,"wires":[["9876af3f.c27b9"]]},{"id":"f2f7aff8.155f","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":320,"wires":[["b8f9d78.8e05728"]]},{"id":"bc17475c.d8dd18","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"CaltexWhite Avg Price 365","query":"select mean(value) as avg_value from (SELECT mean(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_caltex_tamworth_orana_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":380,"wires":[["c544886.5cbaa78"]]},{"id":"c544886.5cbaa78","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":380,"wires":[["3261f943.fea3a6"]]},{"id":"b8f9d78.8e05728","type":"moment","z":"efa3e21f.00166","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":320,"wires":[["3261f943.fea3a6"]]},{"id":"9876af3f.c27b9","type":"moment","z":"efa3e21f.00166","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":260,"wires":[["3261f943.fea3a6"]]},{"id":"3261f943.fea3a6","type":"join","z":"efa3e21f.00166","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":930,"y":320,"wires":[["1423d97d.559027"]]},{"id":"1423d97d.559027","type":"ha-entity","z":"efa3e21f.00166","name":"CaltexWhiteStats365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"fuel_caltexwhite_stats365"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:fuel"},{"property":"unit_of_measurement","value":"¢/L"}],"state":"$round(msg.payload.avg_value, 2)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.max_value, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.min_value, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avg_value, 2)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1120,"y":320,"wires":[[]]}]