node-red/flows.json
[{"id":"33296a74.8c84e6","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"efa3e21f.00166","type":"tab","label":"Fuel","disabled":false,"info":""},{"id":"d3304b0a.cd4cb8","type":"tab","label":"DB","disabled":false,"info":""},{"id":"3f7ea865.a58118","type":"tab","label":"RainIntensity","disabled":false,"info":""},{"id":"286c0b5b.c41264","type":"server","z":"","name":"Home Assistant"},{"id":"9c877518.ac2838","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2f3e5fa4.9f675","type":"influxdb","z":"","hostname":"192.168.1.62","port":"8086","protocol":"http","database":"homeassistant","name":"HA","usetls":false,"tls":""},{"id":"4ee480eb.ef06f","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max Rain Last 365","query":"select time, max(\"max_value\") from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":100,"wires":[["87c1e848.7671d8"]]},{"id":"87c1e848.7671d8","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":100,"wires":[["627a0576.239d9c"]]},{"id":"1869b2c4.d2918d","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMMaxRain365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_maxrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.max, 2)","stateType":"jsonata","attributes":[{"property":"date","value":"date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1030,"y":100,"wires":[[]]},{"id":"627a0576.239d9c","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"date","outputType":"msg","outTz":"Australia/Sydney","x":810,"y":100,"wires":[["1869b2c4.d2918d"]]},{"id":"5f38fb64.d46bf4","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMMinTemp365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_tempmin_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-down"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 3)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 3)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":440,"wires":[[]]},{"id":"6422bd86.dbfdc4","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Min/Min Temp Last 365","query":"select time, min(\"min_temp\") as \"mintemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":400,"y":380,"wires":[["41240045.39621"]]},{"id":"41240045.39621","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":380,"wires":[["e9ec0b8b.057e78"]]},{"id":"e9ec0b8b.057e78","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":380,"wires":[["643b78ea.641f18"]]},{"id":"a120a324.04329","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":440,"wires":[["643b78ea.641f18"]]},{"id":"7c7b8478.a6824c","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":440,"wires":[["a120a324.04329"]]},{"id":"f0e0945b.86dac8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Min/Max Temp Last 365","query":"select time, max(\"min_temp\") as \"maxtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":440,"wires":[["7c7b8478.a6824c"]]},{"id":"643b78ea.641f18","type":"join","z":"33296a74.8c84e6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":950,"y":440,"wires":[["5f38fb64.d46bf4"]]},{"id":"2b710378.3ce9ac","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":500,"wires":[["643b78ea.641f18"]]},{"id":"d136ec3b.a7eea","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Min/Avg Temp Last 365","query":"select time, mean(\"min_temp\") as \"avgtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":500,"wires":[["2b710378.3ce9ac"]]},{"id":"e663f7e9.a5b388","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMMaxTemp365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_tempmax_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-up"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 3)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 3)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1150,"y":240,"wires":[[]]},{"id":"e9fe76cb.f514a8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max/Min Temp Last 365","query":"select time, min(\"max_temp\") as \"mintemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":180,"wires":[["ff9e7fe0.0853e"]]},{"id":"ff9e7fe0.0853e","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":180,"wires":[["2f947474.b9582c"]]},{"id":"2f947474.b9582c","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":790,"y":180,"wires":[["b3120e03.61dc2"]]},{"id":"4e4fc53d.3cfd7c","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":790,"y":240,"wires":[["b3120e03.61dc2"]]},{"id":"b7a945ad.2ddee8","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":240,"wires":[["4e4fc53d.3cfd7c"]]},{"id":"53165fa.aa01fa","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max/Max Temp Last 365","query":"select time, max(\"max_temp\") as \"maxtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":240,"wires":[["b7a945ad.2ddee8"]]},{"id":"b3120e03.61dc2","type":"join","z":"33296a74.8c84e6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":970,"y":240,"wires":[["e663f7e9.a5b388"]]},{"id":"9f3bee52.92813","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":300,"wires":[["b3120e03.61dc2"]]},{"id":"7d6dbaa3.0b2bc4","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max/Avg Temp Last 365","query":"select time, mean(\"max_temp\") as \"avgtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":300,"wires":[["9f3bee52.92813"]]},{"id":"48e2edd4.7a6364","type":"inject","z":"efa3e21f.00166","name":"5MinInt","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":40,"wires":[["8263edf2.e9cd6","445d331e.744f7c","8e95b5d2.2f2598","ccbeed91.10f9b","ee591866.0b8548","bc17475c.d8dd18"]]},{"id":"8263edf2.e9cd6","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"BPViaduct Min Price 365","query":"select time, min(value) as min_value from (SELECT min(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_bp_tamworth_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":80,"wires":[["4f92ad14.088f34"]]},{"id":"445d331e.744f7c","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"BPViaduct Max Price 365","query":"select time, max(value) as max_value from (SELECT max(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_bp_tamworth_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":140,"wires":[["29d9f645.03017a"]]},{"id":"4f92ad14.088f34","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":80,"wires":[["27833f49.a8c4d"]]},{"id":"29d9f645.03017a","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":140,"wires":[["7dd5081b.7fd918"]]},{"id":"8e95b5d2.2f2598","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"BPViaduct Avg Price 365","query":"select mean(value) as avg_value from (SELECT mean(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_bp_tamworth_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":200,"wires":[["fe3e52b2.e646f"]]},{"id":"fe3e52b2.e646f","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":200,"wires":[["24392b1.28cded4"]]},{"id":"7dd5081b.7fd918","type":"moment","z":"efa3e21f.00166","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":140,"wires":[["24392b1.28cded4"]]},{"id":"27833f49.a8c4d","type":"moment","z":"efa3e21f.00166","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":80,"wires":[["24392b1.28cded4"]]},{"id":"24392b1.28cded4","type":"join","z":"efa3e21f.00166","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":930,"y":140,"wires":[["e133678a.067db8"]]},{"id":"e133678a.067db8","type":"ha-entity","z":"efa3e21f.00166","name":"BPViaductStats365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"fuel_bpviaduct_stats365"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:fuel"},{"property":"unit_of_measurement","value":"¢/L"}],"state":"$round(msg.payload.avg_value, 2)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.max_value, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.min_value, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avg_value, 2)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1110,"y":140,"wires":[[]]},{"id":"ccbeed91.10f9b","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"CaltexWhite Min Price 365","query":"select time, min(value) as min_value from (SELECT min(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_caltex_tamworth_orana_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":260,"wires":[["e0aa9b84.ba53d8"]]},{"id":"ee591866.0b8548","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"CaltexWhite Max Price 365","query":"select time, max(value) as max_value from (SELECT max(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_caltex_tamworth_orana_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":320,"wires":[["f2f7aff8.155f"]]},{"id":"e0aa9b84.ba53d8","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":260,"wires":[["9876af3f.c27b9"]]},{"id":"f2f7aff8.155f","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":320,"wires":[["b8f9d78.8e05728"]]},{"id":"bc17475c.d8dd18","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"CaltexWhite Avg Price 365","query":"select mean(value) as avg_value from (SELECT mean(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_caltex_tamworth_orana_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":380,"wires":[["c544886.5cbaa78"]]},{"id":"c544886.5cbaa78","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":380,"wires":[["3261f943.fea3a6"]]},{"id":"b8f9d78.8e05728","type":"moment","z":"efa3e21f.00166","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":320,"wires":[["3261f943.fea3a6"]]},{"id":"9876af3f.c27b9","type":"moment","z":"efa3e21f.00166","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":260,"wires":[["3261f943.fea3a6"]]},{"id":"3261f943.fea3a6","type":"join","z":"efa3e21f.00166","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":930,"y":320,"wires":[["1423d97d.559027"]]},{"id":"1423d97d.559027","type":"ha-entity","z":"efa3e21f.00166","name":"CaltexWhiteStats365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"fuel_caltexwhite_stats365"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:fuel"},{"property":"unit_of_measurement","value":"¢/L"}],"state":"$round(msg.payload.avg_value, 2)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.max_value, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.min_value, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avg_value, 2)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1120,"y":320,"wires":[[]]},{"id":"4fe9df8b.c6fa8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Total Rain Last 365","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 365d AND (\"entity_id\"='netatmo_rain_sum_rain_24' OR \"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":580,"wires":[["57f67d3.1b3c584"]]},{"id":"a38693a7.6e5c6","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeTotalRain365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_totalrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[{"property":"count","value":"$round(msg.payload.count,0)","valueType":"jsonata"},{"property":"countstring","value":"$round(msg.payload.count,0) & \" Days\"","valueType":"jsonata"},{"property":"average","value":"$round(msg.payload.average,2)","valueType":"jsonata"},{"property":"highest","value":"$round(msg.payload.highest,2)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":830,"y":580,"wires":[[]]},{"id":"57f67d3.1b3c584","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":580,"wires":[["a38693a7.6e5c6"]]},{"id":"7e96543.199b2ac","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Max Rain Last 365","query":"select time, max(\"max_value\") from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_rain_sum_rain_24' OR \"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":640,"wires":[["317bc668.aa0faa"]]},{"id":"317bc668.aa0faa","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":640,"wires":[["515d47c9.93aba8"]]},{"id":"84545f66.0979a","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeMaxRain365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_maxrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.max, 2)","stateType":"jsonata","attributes":[{"property":"date","value":"date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":990,"y":640,"wires":[[]]},{"id":"515d47c9.93aba8","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"date","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":640,"wires":[["84545f66.0979a"]]},{"id":"bb0c36dc.4f7d88","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeMinTemp365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_tempmin_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-down"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 3)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 3)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1090,"y":980,"wires":[[]]},{"id":"29b0ca9f.9492e6","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Min/Min Temp Last 365","query":"select time, min(\"min_temp\") as \"mintemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":920,"wires":[["5c098a97.96ce64"]]},{"id":"5c098a97.96ce64","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":920,"wires":[["d036714b.4de0a"]]},{"id":"d036714b.4de0a","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":730,"y":920,"wires":[["9fbca5c.f857b58"]]},{"id":"9fe06e28.1fc73","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":730,"y":980,"wires":[["9fbca5c.f857b58"]]},{"id":"d986852c.c7f488","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":980,"wires":[["9fe06e28.1fc73"]]},{"id":"fe7c7570.36fe78","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Min/Max Temp Last 365","query":"select time, max(\"min_temp\") as \"maxtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":980,"wires":[["d986852c.c7f488"]]},{"id":"9fbca5c.f857b58","type":"join","z":"33296a74.8c84e6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":910,"y":980,"wires":[["bb0c36dc.4f7d88"]]},{"id":"cfccd270.c6606","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":1040,"wires":[["9fbca5c.f857b58"]]},{"id":"57a8df23.e79f6","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Min/Avg Temp Last 365","query":"select time, mean(\"min_temp\") as \"avgtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":1040,"wires":[["cfccd270.c6606"]]},{"id":"1777533.24f10ad","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeMaxTemp365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_tempmax_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-up"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 3)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 3)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1110,"y":780,"wires":[[]]},{"id":"5ae7a019.155b2","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Max/Min Temp Last 365","query":"select time, min(\"max_temp\") as \"mintemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":720,"wires":[["2271e4f4.9fc61c"]]},{"id":"2271e4f4.9fc61c","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":720,"wires":[["d13b5353.891ca"]]},{"id":"d13b5353.891ca","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":720,"wires":[["4489a908.3ae738"]]},{"id":"169f1fcc.9504d","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":780,"wires":[["4489a908.3ae738"]]},{"id":"7425e567.8f6e6c","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":780,"wires":[["169f1fcc.9504d"]]},{"id":"b31397a3.9fa4f8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Max/Max Temp Last 365","query":"select time, max(\"max_temp\") as \"maxtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":780,"wires":[["7425e567.8f6e6c"]]},{"id":"4489a908.3ae738","type":"join","z":"33296a74.8c84e6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":930,"y":780,"wires":[["1777533.24f10ad"]]},{"id":"c3e2ca69.2d3b58","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":840,"wires":[["4489a908.3ae738"]]},{"id":"ba5d747a.b24ba8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Max/Avg Temp Last 365","query":"select time, mean(\"max_temp\") as \"avgtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":840,"wires":[["c3e2ca69.2d3b58"]]},{"id":"cd416e62.0709e","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMTotalRain365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_totalrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[{"property":"count","value":"$round(msg.payload.count,0)","valueType":"jsonata"},{"property":"countstring","value":"$round(msg.payload.count,0) & \" Days\"","valueType":"jsonata"},{"property":"average","value":"$round(msg.payload.average,2)","valueType":"jsonata"},{"property":"highest","value":"$round(msg.payload.highest,2)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":870,"y":40,"wires":[[]]},{"id":"6990101e.7a3e2","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":40,"wires":[["cd416e62.0709e"]]},{"id":"aa38b4cd.fd71e8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Total Rain Last 365","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 365d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":40,"wires":[["6990101e.7a3e2"]]},{"id":"33e5e0d0.4cae8","type":"inject","z":"33296a74.8c84e6","name":"1MinInt","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":300,"wires":[["aa38b4cd.fd71e8","4ee480eb.ef06f","6422bd86.dbfdc4","f0e0945b.86dac8","d136ec3b.a7eea","e9fe76cb.f514a8","53165fa.aa01fa","7d6dbaa3.0b2bc4","4fe9df8b.c6fa8","7e96543.199b2ac","5ae7a019.155b2","b31397a3.9fa4f8","ba5d747a.b24ba8","29b0ca9f.9492e6","fe7c7570.36fe78","57a8df23.e79f6","1e1dd8af.82b337","56586520.f6d2fc","9b52ea42.6cefd8","4ed95ea0.f7c87","201dcf4a.fa894"]]},{"id":"b9e7f122.e4b43","type":"inject","z":"d3304b0a.cd4cb8","name":"1MinInt","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":60,"wires":[["36fc1ab9.202f86"]]},{"id":"36fc1ab9.202f86","type":"influxdb in","z":"d3304b0a.cd4cb8","influxdb":"2f3e5fa4.9f675","name":"InfluxDBSize","query":"SELECT max(\"diskBytes\")/1024/1024 AS \"value\" FROM \"_internal\".\"monitor\".\"shard\" WHERE time > now() - 1m AND \"database\"='homeassistant' FILL(null) tz('Australia/Sydney')","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":60,"wires":[["9f93f221.71288"]]},{"id":"9f93f221.71288","type":"split","z":"d3304b0a.cd4cb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":60,"wires":[["eb1efc91.55f2b"]]},{"id":"eb1efc91.55f2b","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"InfluxDB Size","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"influxdb_size"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:database-settings"},{"property":"unit_of_measurement","value":"Mb"}],"state":"$round(msg.payload.value, 2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":850,"y":60,"wires":[[]]},{"id":"1e1dd8af.82b337","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Rain This Week","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\"  WHERE \"value\" <> 0 and time > now() - 7d /* and time < now() - 1w-1d */ AND (\"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null) TZ('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1100,"wires":[["914dd541.42f928"]]},{"id":"914dd541.42f928","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":1100,"wires":[["d04bb90d.434ff8"]]},{"id":"d04bb90d.434ff8","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeRainLast7Days","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_rain_last7days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[{"property":"count","value":"$round(msg.payload.count,0)","valueType":"jsonata"},{"property":"countstring","value":"$round(msg.payload.count,0) & \" Days\"","valueType":"jsonata"},{"property":"average","value":"$round(msg.payload.average,2)","valueType":"jsonata"},{"property":"highest","value":"$round(msg.payload.highest,2)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":740,"y":1100,"wires":[[]]},{"id":"56586520.f6d2fc","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Rain This Month","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\"  WHERE \"value\" <> 0 and time > now() - 30d /* and time < now() - 1w-1d */ AND (\"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null) TZ('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1200,"wires":[["336913f7.87a4bc"]]},{"id":"336913f7.87a4bc","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":1200,"wires":[["87eb65c6.2c5798"]]},{"id":"87eb65c6.2c5798","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeRainLast30Days","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_rain_last30days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[{"property":"count","value":"$round(msg.payload.count,0)","valueType":"jsonata"},{"property":"countstring","value":"$round(msg.payload.count,0) & \" Days\"","valueType":"jsonata"},{"property":"average","value":"$round(msg.payload.average,2)","valueType":"jsonata"},{"property":"highest","value":"$round(msg.payload.highest,2)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":740,"y":1200,"wires":[[]]},{"id":"9b52ea42.6cefd8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Rain This Week","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 7d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1280,"wires":[["d0b8580b.27d4a8"]]},{"id":"d0b8580b.27d4a8","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":1280,"wires":[["ce42590b.835aa8"]]},{"id":"ce42590b.835aa8","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMRainLast7Days","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_rain_last7days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[{"property":"count","value":"$round(msg.payload.count,0)","valueType":"jsonata"},{"property":"countstring","value":"$round(msg.payload.count,0) & \" Days\"","valueType":"jsonata"},{"property":"average","value":"$round(msg.payload.average,2)","valueType":"jsonata"},{"property":"highest","value":"$round(msg.payload.highest,2)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":740,"y":1280,"wires":[[]]},{"id":"4ed95ea0.f7c87","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Rain This Month","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 30d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1320,"wires":[["6920f0d.0bffe1"]]},{"id":"6920f0d.0bffe1","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":1320,"wires":[["7ed58e6d.bf223"]]},{"id":"7ed58e6d.bf223","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMRainLast30Days","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_rain_last30days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[{"property":"count","value":"$round(msg.payload.count,0)","valueType":"jsonata"},{"property":"countstring","value":"$round(msg.payload.count,0) & \" Days\"","valueType":"jsonata"},{"property":"average","value":"$round(msg.payload.average,2)","valueType":"jsonata"},{"property":"highest","value":"$round(msg.payload.highest,2)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":740,"y":1320,"wires":[[]]},{"id":"98856537.cb6888","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeRainPrior7Days","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_rain_prior7days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[{"property":"count","value":"$round(msg.payload.count,0)","valueType":"jsonata"},{"property":"countstring","value":"$round(msg.payload.count,0) & \" Days\"","valueType":"jsonata"},{"property":"average","value":"$round(msg.payload.average,2)","valueType":"jsonata"},{"property":"highest","value":"$round(msg.payload.highest,2)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":740,"y":1140,"wires":[[]]},{"id":"1d95bb7c.653015","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":1140,"wires":[["98856537.cb6888"]]},{"id":"201dcf4a.fa894","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Rain Last Week","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\"  WHERE \"value\" <> 0 and time > now() - 14d and time < now() - 7d AND (\"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null) TZ('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1140,"wires":[["1d95bb7c.653015"]]},{"id":"3f71bab3.01bcb6","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 60) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":160,"wires":[["d8d37be5.104088"]]},{"id":"15d65e08.6205c2","type":"inject","z":"3f7ea865.a58118","name":"5MinInt","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["3f71bab3.01bcb6","e352d214.34ae8","fb7c2363.f8a25","b5ba232a.495f3","e19ad8b6.5a06f8","7ef931a.0c357d","f35e6cbc.d2705"]]},{"id":"d8d37be5.104088","type":"function","z":"3f7ea865.a58118","name":"1 Hour AEP","func":"\nvar _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 8.87;\nvar _ey6 = 10.2;\nvar _ey4 = 12.5;\nvar _ey3 = 14.3;\nvar _ey2 = 16.8;\nvar _ey1 = 21.5;\nvar _ey050 = 26.8;\nvar _ey020 = 33.3;\n\nvar _aep10 = 38.8;\nvar _aep5 = 45.0;\nvar _aep2 = 53.5;\nvar _aep1 = 60.1;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;  \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["318dddf9.dfaf72"]]},{"id":"318dddf9.dfaf72","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":160,"wires":[["5b88f61a.983c98"]]},{"id":"e352d214.34ae8","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 20) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":220,"wires":[["e10b4c67.c74a6"]]},{"id":"e10b4c67.c74a6","type":"function","z":"3f7ea865.a58118","name":"20 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 16.7;\nvar _ey6 = 19.4;\nvar _ey4 = 24.4;\nvar _ey3 = 28.0;\nvar _ey2 = 33.3;\nvar _ey1 = 42.8;\nvar _ey050 = 53.6;\nvar _ey020 = 67.4;\n\nvar _aep10 = 78.4;\nvar _aep5 = 90.7;\nvar _aep2 = 107;\nvar _aep1 = 121;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["ab8d4553.fe2718"]]},{"id":"ab8d4553.fe2718","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":220,"wires":[["75db3ffb.b5886"]]},{"id":"fb7c2363.f8a25","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 5) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":280,"wires":[["1c25c29a.8cf40d"]]},{"id":"1c25c29a.8cf40d","type":"function","z":"3f7ea865.a58118","name":"5 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 30.7;\nvar _ey6 = 35.9;\nvar _ey4 = 44.9;\nvar _ey3 = 51.4;\nvar _ey2 = 60.5;\nvar _ey1 = 76.3;\nvar _ey050 = 95.3;\nvar _ey020 = 119;\n\n\nvar _aep10 = 138;\nvar _aep5 = 160;\nvar _aep2 = 189;\nvar _aep1 = 212;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["3d607db5.367f42"]]},{"id":"3d607db5.367f42","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":280,"wires":[["cf5c6ad2.b317c8"]]},{"id":"b5ba232a.495f3","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 120) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":100,"wires":[["cf740a8f.8cac98"]]},{"id":"cf740a8f.8cac98","type":"function","z":"3f7ea865.a58118","name":"2 Hour AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 5.75;\nvar _ey6 = 6.56;\nvar _ey4 = 7.96;\nvar _ey3 = 9.01;\nvar _ey2 = 10.5;\nvar _ey1 = 13.3;\nvar _ey050 = 16.5;\nvar _ey020 = 20.3;\n\nvar _aep10 = 23.6;\nvar _aep5 = 27.3;\nvar _aep2 = 31.3;\nvar _aep1 = 36.3;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":100,"wires":[["980535c5.fe3d28"]]},{"id":"980535c5.fe3d28","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":100,"wires":[["d3c63c20.c3761"]]},{"id":"5b88f61a.983c98","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":160,"wires":[["2539ad6.6fcb652"]]},{"id":"d3c63c20.c3761","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":100,"wires":[["2aebf71d.dc0db8"]]},{"id":"75db3ffb.b5886","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":220,"wires":[["7a909ca4.d739c4"]]},{"id":"cf5c6ad2.b317c8","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":280,"wires":[["2fb780af.b9bdc"]]},{"id":"e19ad8b6.5a06f8","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 360) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":40,"wires":[["b14cdb3f.63af28"]]},{"id":"b14cdb3f.63af28","type":"function","z":"3f7ea865.a58118","name":"6 Hour AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 2.77;\nvar _ey6 = 3.15;\nvar _ey4 = 3.81;\nvar _ey3 = 4.29;\nvar _ey2 = 4.99;\nvar _ey1 = 6.23;\nvar _ey050 = 7.7;\nvar _ey020 = 9.3;\n\nvar _aep10 = 10.7;\nvar _aep5 = 12.3;\nvar _aep2 = 14.4;\nvar _aep1 = 16.1;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n    _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n    _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n    _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":40,"wires":[["be8e6ddc.f1fdb"]]},{"id":"be8e6ddc.f1fdb","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":40,"wires":[["e6698fd3.70146"]]},{"id":"e6698fd3.70146","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":40,"wires":[["42015636.8b2f88"]]},{"id":"42015636.8b2f88","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_6hour_Weekly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_6hour_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":40,"wires":[[]]},{"id":"2aebf71d.dc0db8","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_2hour_Weekly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_2hour_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":100,"wires":[[]]},{"id":"2539ad6.6fcb652","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_1hour_Weekly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_1hour_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":160,"wires":[[]]},{"id":"7a909ca4.d739c4","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_20Min_Weekly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_20Min_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1180,"y":220,"wires":[[]]},{"id":"2fb780af.b9bdc","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_5Min_Weekly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_5Min_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":280,"wires":[[]]},{"id":"7ef931a.0c357d","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 365 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 360) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":290,"y":380,"wires":[["2eac77d7.4cc3f8"]]},{"id":"2eac77d7.4cc3f8","type":"function","z":"3f7ea865.a58118","name":"6 Hour AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 2.77;\nvar _ey6 = 3.15;\nvar _ey4 = 3.81;\nvar _ey3 = 4.29;\nvar _ey2 = 4.99;\nvar _ey1 = 6.23;\nvar _ey050 = 7.7;\nvar _ey020 = 9.3;\n\nvar _aep10 = 10.7;\nvar _aep5 = 12.3;\nvar _aep2 = 14.4;\nvar _aep1 = 16.1;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n    _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n    _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n    _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":380,"wires":[["c22c66ba.828458"]]},{"id":"c22c66ba.828458","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":380,"wires":[["6ada584d.75ee28"]]},{"id":"6ada584d.75ee28","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":380,"wires":[["90b87871.0b6d48"]]},{"id":"90b87871.0b6d48","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_6hour_Yearly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_6hour_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":380,"wires":[[]]},{"id":"f35e6cbc.d2705","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 365 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 20) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":290,"y":500,"wires":[["41574614.85a208"]]},{"id":"41574614.85a208","type":"function","z":"3f7ea865.a58118","name":"20 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 16.7;\nvar _ey6 = 19.4;\nvar _ey4 = 24.4;\nvar _ey3 = 28.0;\nvar _ey2 = 33.3;\nvar _ey1 = 42.8;\nvar _ey050 = 53.6;\nvar _ey020 = 67.4;\n\nvar _aep10 = 78.4;\nvar _aep5 = 90.7;\nvar _aep2 = 107;\nvar _aep1 = 121;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":500,"wires":[["94372e4c.e884b"]]},{"id":"94372e4c.e884b","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":500,"wires":[["afdcf4f5.ca0f78"]]},{"id":"afdcf4f5.ca0f78","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":500,"wires":[["c121ebf5.d33738"]]},{"id":"c121ebf5.d33738","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_20Min_Yearly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_20Min_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":500,"wires":[[]]}]