node-red/flows.json
[{"id":"33296a74.8c84e6","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"286c0b5b.c41264","type":"server","z":"","name":"Home Assistant"},{"id":"9c877518.ac2838","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cefc827b.5863c","type":"mqtt-broker","z":"","name":"Local MQTT","broker":"192.168.1.62","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2f3e5fa4.9f675","type":"influxdb","z":"","hostname":"192.168.1.62","port":"8086","protocol":"http","database":"homeassistant","name":"HA","usetls":false,"tls":""},{"id":"aa38b4cd.fd71e8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Total Rain Last 365","query":"select sum(\"max_value\") from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":140,"wires":[["6990101e.7a3e2"]]},{"id":"33e5e0d0.4cae8","type":"inject","z":"33296a74.8c84e6","name":"5MinInt","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":140,"wires":[["aa38b4cd.fd71e8","4ee480eb.ef06f","5eaff801.0bf3f8","6422bd86.dbfdc4","f0e0945b.86dac8","d136ec3b.a7eea"]]},{"id":"cd416e62.0709e","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMTotalRain365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_totalrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":830,"y":140,"wires":[[]]},{"id":"6990101e.7a3e2","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":140,"wires":[["cd416e62.0709e"]]},{"id":"4ee480eb.ef06f","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max Rain Last 365","query":"select max(\"max_value\"), time from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":200,"wires":[["87c1e848.7671d8"]]},{"id":"87c1e848.7671d8","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":200,"wires":[["627a0576.239d9c"]]},{"id":"1869b2c4.d2918d","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMMaxRain365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_maxrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.max, 2)","stateType":"jsonata","attributes":[{"property":"date","value":"date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":990,"y":200,"wires":[[]]},{"id":"627a0576.239d9c","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.date","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"date","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":200,"wires":[["1869b2c4.d2918d"]]},{"id":"5eaff801.0bf3f8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max Temp Last 365","query":"select max(\"max_temp\") as maxtemp, min(\"max_temp\") as mintemp, mean(\"max_temp\") as avgtemp from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":260,"wires":[["276c8699.53e26a"]]},{"id":"276c8699.53e26a","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":260,"wires":[["865b077d.7b0238"]]},{"id":"865b077d.7b0238","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMMaxTemp365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_maxtemp_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-up"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.maxtemp, 2)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 2)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":810,"y":260,"wires":[[]]},{"id":"5f38fb64.d46bf4","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMMinTemp365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_mintemp_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-down"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.mintemp, 2)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 2)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":440,"wires":[[]]},{"id":"6422bd86.dbfdc4","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Min/Min Temp Last 365","query":"select time, min(\"min_temp\") as \"mintemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":400,"y":380,"wires":[["41240045.39621"]]},{"id":"41240045.39621","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":380,"wires":[["e9ec0b8b.057e78"]]},{"id":"e9ec0b8b.057e78","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":380,"wires":[["643b78ea.641f18"]]},{"id":"a120a324.04329","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":440,"wires":[["643b78ea.641f18"]]},{"id":"7c7b8478.a6824c","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":440,"wires":[["a120a324.04329"]]},{"id":"f0e0945b.86dac8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Min/Max Temp Last 365","query":"select time, max(\"min_temp\") as \"maxtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":440,"wires":[["7c7b8478.a6824c"]]},{"id":"643b78ea.641f18","type":"join","z":"33296a74.8c84e6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":950,"y":440,"wires":[["5f38fb64.d46bf4"]]},{"id":"2b710378.3ce9ac","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":500,"wires":[["643b78ea.641f18"]]},{"id":"d136ec3b.a7eea","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Min/Avg Temp Last 365","query":"select time, mean(\"min_temp\") as \"avgtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":500,"wires":[["2b710378.3ce9ac"]]}]