node-red/flows.json
[{"id":"b290df56.a27558","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d5885627.8d1ba8","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"9c799abb.c66da8","type":"tab","label":"Fuel","disabled":false,"info":""},{"id":"fa272026.a5eb2","type":"tab","label":"DB","disabled":false,"info":""},{"id":"babf8c24.5d5728","type":"tab","label":"RainIntensity","disabled":false,"info":""},{"id":"d7532c8a.7df9e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2c268447.85c5c4","type":"tab","label":"FlightTracker","disabled":false,"info":""},{"id":"95f050d4.79cdd8","type":"tab","label":"Sungrow Inverter to MQTT","disabled":false,"info":""},{"id":"c83366d9.71094","type":"tab","label":"FX by 1min","disabled":false,"info":""},{"id":"873eb379.8e35a","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"53d5d193.987ee","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ae13dda.6b5d8a","type":"influxdb","z":"","hostname":"192.168.1.62","port":"8086","protocol":"http","database":"homeassistant","name":"HA","usetls":false,"tls":""},{"id":"c1d28f3a.999178","type":"influxdb","z":"","hostname":"192.168.1.62","port":"8086","protocol":"http","database":"varken","name":"Varken","usetls":false,"tls":""},{"id":"c2d1b0f2.af1008","type":"mqtt-broker","z":"","name":"MQTT Server","broker":"192.168.1.63","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"daac038a.ad7cc8","type":"modbus-client","z":"","name":"SunGrow","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"192.168.1.85","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9cfff822.da926","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"BOM Max Rain Last 365","query":"select time, max(\"max_value\") from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":100,"wires":[["c1564.abdf4a9c8"]]},{"id":"c1564.abdf4a9c8","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":100,"wires":[["fe248eec.87aac8"]]},{"id":"4f587f87.f1d52","type":"ha-entity","z":"d5885627.8d1ba8","name":"BOMMaxRain365","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_maxrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.max, 2)","stateType":"jsonata","attributes":[{"property":"date","value":"date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1030,"y":100,"wires":[[]]},{"id":"fe248eec.87aac8","type":"moment","z":"d5885627.8d1ba8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"date","outputType":"msg","outTz":"Australia/Sydney","x":810,"y":100,"wires":[["4f587f87.f1d52"]]},{"id":"ebd67e08.e4ebb8","type":"ha-entity","z":"d5885627.8d1ba8","name":"BOMMinTemp365","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_tempmin_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-down"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 3)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 3)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":440,"wires":[[]]},{"id":"75756fdb.e53c58","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"BOM Min/Min Temp Last 365","query":"select time, min(\"min_temp\") as \"mintemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":400,"y":380,"wires":[["8d2b07b8.5815c8"]]},{"id":"8d2b07b8.5815c8","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":380,"wires":[["42b1c6cd.b19fc"]]},{"id":"42b1c6cd.b19fc","type":"moment","z":"d5885627.8d1ba8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":380,"wires":[["16ab92df.ebd825"]]},{"id":"d1da186c.b3db18","type":"moment","z":"d5885627.8d1ba8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":440,"wires":[["16ab92df.ebd825"]]},{"id":"1859b769.e29689","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":440,"wires":[["d1da186c.b3db18"]]},{"id":"fd45bc7a.fece58","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"BOM Min/Max Temp Last 365","query":"select time, max(\"min_temp\") as \"maxtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":440,"wires":[["1859b769.e29689"]]},{"id":"16ab92df.ebd825","type":"join","z":"d5885627.8d1ba8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":950,"y":440,"wires":[["ebd67e08.e4ebb8"]]},{"id":"5eb8e01b.005458","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":500,"wires":[["16ab92df.ebd825"]]},{"id":"9647a0c4.5e2a5","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"BOM Min/Avg Temp Last 365","query":"select time, mean(\"min_temp\") as \"avgtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":500,"wires":[["5eb8e01b.005458"]]},{"id":"4886e2d4.46b2d4","type":"ha-entity","z":"d5885627.8d1ba8","name":"BOMMaxTemp365","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_tempmax_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-up"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 3)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 3)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1150,"y":240,"wires":[[]]},{"id":"dd96f39e.29b888","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"BOM Max/Min Temp Last 365","query":"select time, min(\"max_temp\") as \"mintemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":180,"wires":[["60a17c.f49aae84"]]},{"id":"60a17c.f49aae84","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":180,"wires":[["560230bb.3970d"]]},{"id":"560230bb.3970d","type":"moment","z":"d5885627.8d1ba8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":790,"y":180,"wires":[["656757e6.fcf2c8"]]},{"id":"32b7f6a1.79d3ea","type":"moment","z":"d5885627.8d1ba8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":790,"y":240,"wires":[["656757e6.fcf2c8"]]},{"id":"a1cd7b34.e8f028","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":240,"wires":[["32b7f6a1.79d3ea"]]},{"id":"619dad43.212b3c","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"BOM Max/Max Temp Last 365","query":"select time, max(\"max_temp\") as \"maxtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":240,"wires":[["a1cd7b34.e8f028"]]},{"id":"656757e6.fcf2c8","type":"join","z":"d5885627.8d1ba8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":970,"y":240,"wires":[["4886e2d4.46b2d4"]]},{"id":"966f4c27.dd4cf","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":300,"wires":[["656757e6.fcf2c8"]]},{"id":"4f1cc2df.e58f44","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"BOM Max/Avg Temp Last 365","query":"select time, mean(\"max_temp\") as \"avgtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":300,"wires":[["966f4c27.dd4cf"]]},{"id":"52b4407.3df954","type":"inject","z":"9c799abb.c66da8","name":"5MinInt","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["44ceb95d.62e11","44cafcc7.b20ccc","d4835dd8.de7c6","6e6fc2d0.205eac","9922bb18.1eb848","713c1c93.26a5dc"]]},{"id":"44ceb95d.62e11","type":"influxdb in","z":"9c799abb.c66da8","influxdb":"ae13dda.6b5d8a","name":"BPViaduct Min Price 365","query":"select time, min(value) as min_value from (SELECT min(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_bp_tamworth_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":80,"wires":[["d1b0caa6.9fbaa"]]},{"id":"44cafcc7.b20ccc","type":"influxdb in","z":"9c799abb.c66da8","influxdb":"ae13dda.6b5d8a","name":"BPViaduct Max Price 365","query":"select time, max(value) as max_value from (SELECT max(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_bp_tamworth_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":140,"wires":[["ab90991.673d1e8"]]},{"id":"d1b0caa6.9fbaa","type":"split","z":"9c799abb.c66da8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":80,"wires":[["b8367603.db012"]]},{"id":"ab90991.673d1e8","type":"split","z":"9c799abb.c66da8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":140,"wires":[["2b9bd7ed.b6ffc"]]},{"id":"d4835dd8.de7c6","type":"influxdb in","z":"9c799abb.c66da8","influxdb":"ae13dda.6b5d8a","name":"BPViaduct Avg Price 365","query":"select mean(value) as avg_value from (SELECT mean(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_bp_tamworth_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":200,"wires":[["e2a73fa1.39ad58"]]},{"id":"e2a73fa1.39ad58","type":"split","z":"9c799abb.c66da8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":200,"wires":[["86703e2f.c59"]]},{"id":"2b9bd7ed.b6ffc","type":"moment","z":"9c799abb.c66da8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":140,"wires":[["86703e2f.c59"]]},{"id":"b8367603.db012","type":"moment","z":"9c799abb.c66da8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":80,"wires":[["86703e2f.c59"]]},{"id":"86703e2f.c59","type":"join","z":"9c799abb.c66da8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":930,"y":140,"wires":[["cdb027c7.820ed8"]]},{"id":"cdb027c7.820ed8","type":"ha-entity","z":"9c799abb.c66da8","name":"BPViaductStats365","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"fuel_bpviaduct_stats365"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:fuel"},{"property":"unit_of_measurement","value":"¢/L"}],"state":"$round(msg.payload.avg_value, 2)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.max_value, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.min_value, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avg_value, 2)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1110,"y":140,"wires":[[]]},{"id":"6e6fc2d0.205eac","type":"influxdb in","z":"9c799abb.c66da8","influxdb":"ae13dda.6b5d8a","name":"CaltexWhite Min Price 365","query":"select time, min(value) as min_value from (SELECT min(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_caltex_tamworth_orana_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":260,"wires":[["902cb0e7.7d348"]]},{"id":"9922bb18.1eb848","type":"influxdb in","z":"9c799abb.c66da8","influxdb":"ae13dda.6b5d8a","name":"CaltexWhite Max Price 365","query":"select time, max(value) as max_value from (SELECT max(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_caltex_tamworth_orana_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":320,"wires":[["9067dba0.6a2cc"]]},{"id":"902cb0e7.7d348","type":"split","z":"9c799abb.c66da8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":260,"wires":[["ecee3977.5500d"]]},{"id":"9067dba0.6a2cc","type":"split","z":"9c799abb.c66da8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":320,"wires":[["137ec490.0d56c3"]]},{"id":"713c1c93.26a5dc","type":"influxdb in","z":"9c799abb.c66da8","influxdb":"ae13dda.6b5d8a","name":"CaltexWhite Avg Price 365","query":"select mean(value) as avg_value from (SELECT mean(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_caltex_tamworth_orana_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":380,"wires":[["ee713791.489d08"]]},{"id":"ee713791.489d08","type":"split","z":"9c799abb.c66da8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":380,"wires":[["710e3330.c3c0ac"]]},{"id":"137ec490.0d56c3","type":"moment","z":"9c799abb.c66da8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":320,"wires":[["710e3330.c3c0ac"]]},{"id":"ecee3977.5500d","type":"moment","z":"9c799abb.c66da8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":260,"wires":[["710e3330.c3c0ac"]]},{"id":"710e3330.c3c0ac","type":"join","z":"9c799abb.c66da8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":930,"y":320,"wires":[["c64bc5f1.cdb0c"]]},{"id":"c64bc5f1.cdb0c","type":"ha-entity","z":"9c799abb.c66da8","name":"CaltexWhiteStats365","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"fuel_caltexwhite_stats365"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:fuel"},{"property":"unit_of_measurement","value":"¢/L"}],"state":"$round(msg.payload.avg_value, 2)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.max_value, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.min_value, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avg_value, 2)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1120,"y":320,"wires":[[]]},{"id":"ac386693.e11128","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"Home Total Rain Last 365","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 365d AND (\"entity_id\"='netatmo_rain_sum_rain_24' OR \"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":580,"wires":[["1943ecca.9d301b"]]},{"id":"ee3ed6bb.25091","type":"ha-entity","z":"d5885627.8d1ba8","name":"HomeTotalRain365","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_totalrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[{"property":"count","value":"$round(msg.payload.count,0)","valueType":"jsonata"},{"property":"countstring","value":"$round(msg.payload.count,0) & \" Days\"","valueType":"jsonata"},{"property":"average","value":"$round(msg.payload.average,2)","valueType":"jsonata"},{"property":"highest","value":"$round(msg.payload.highest,2)","valueType":"jsonata"},{"property":"sort","value":"4","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":830,"y":580,"wires":[[]]},{"id":"1943ecca.9d301b","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":580,"wires":[["ee3ed6bb.25091"]]},{"id":"ced31b40.7cc3","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"Home Max Rain Last 365","query":"select time, max(\"max_value\") from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_rain_sum_rain_24' OR \"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":640,"wires":[["d91df9bc.382d18"]]},{"id":"d91df9bc.382d18","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":640,"wires":[["80e523e5.3fdbb8"]]},{"id":"acca2149.2ab16","type":"ha-entity","z":"d5885627.8d1ba8","name":"HomeMaxRain365","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_maxrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.max, 2)","stateType":"jsonata","attributes":[{"property":"date","value":"date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":990,"y":640,"wires":[[]]},{"id":"80e523e5.3fdbb8","type":"moment","z":"d5885627.8d1ba8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"date","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":640,"wires":[["acca2149.2ab16"]]},{"id":"311fef1b.5191e8","type":"ha-entity","z":"d5885627.8d1ba8","name":"HomeMinTemp365","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_tempmin_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-down"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 3)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 3)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1090,"y":980,"wires":[[]]},{"id":"9f77d1a3.f0c848","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"Home Min/Min Temp Last 365","query":"select time, min(\"min_temp\") as \"mintemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":920,"wires":[["2952f86c.169c18"]]},{"id":"2952f86c.169c18","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":920,"wires":[["799c035e.0848a4"]]},{"id":"799c035e.0848a4","type":"moment","z":"d5885627.8d1ba8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":730,"y":920,"wires":[["3077121.f8210ee"]]},{"id":"6191578.20f92a8","type":"moment","z":"d5885627.8d1ba8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":730,"y":980,"wires":[["3077121.f8210ee"]]},{"id":"e0772390.ce027","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":980,"wires":[["6191578.20f92a8"]]},{"id":"9b8225c3.3e52b","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"Home Min/Max Temp Last 365","query":"select time, max(\"min_temp\") as \"maxtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":980,"wires":[["e0772390.ce027"]]},{"id":"3077121.f8210ee","type":"join","z":"d5885627.8d1ba8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":910,"y":980,"wires":[["311fef1b.5191e8"]]},{"id":"87537534.62ac28","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":1040,"wires":[["3077121.f8210ee"]]},{"id":"f2605d19.95d2c8","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"Home Min/Avg Temp Last 365","query":"select time, mean(\"min_temp\") as \"avgtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":1040,"wires":[["87537534.62ac28"]]},{"id":"1f2952a.7e1c72d","type":"ha-entity","z":"d5885627.8d1ba8","name":"HomeMaxTemp365","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_tempmax_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-up"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 3)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 3)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1110,"y":780,"wires":[[]]},{"id":"79431228.3483d4","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"Home Max/Min Temp Last 365","query":"select time, min(\"max_temp\") as \"mintemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":720,"wires":[["db16b3d5.adbd5"]]},{"id":"db16b3d5.adbd5","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":720,"wires":[["845e38af.3e52a"]]},{"id":"845e38af.3e52a","type":"moment","z":"d5885627.8d1ba8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":720,"wires":[["69599f19.338ae8"]]},{"id":"b36eca6a.c96cc","type":"moment","z":"d5885627.8d1ba8","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":780,"wires":[["69599f19.338ae8"]]},{"id":"87ecf6e7.ce2e1","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":780,"wires":[["b36eca6a.c96cc"]]},{"id":"a1b93d24.af819","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"Home Max/Max Temp Last 365","query":"select time, max(\"max_temp\") as \"maxtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":780,"wires":[["87ecf6e7.ce2e1"]]},{"id":"69599f19.338ae8","type":"join","z":"d5885627.8d1ba8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":930,"y":780,"wires":[["1f2952a.7e1c72d"]]},{"id":"560c7d6b.894e6c","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":840,"wires":[["69599f19.338ae8"]]},{"id":"544633b3.4aa8f4","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"Home Max/Avg Temp Last 365","query":"select time, mean(\"max_temp\") as \"avgtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":840,"wires":[["560c7d6b.894e6c"]]},{"id":"13d27691.292561","type":"ha-entity","z":"d5885627.8d1ba8","name":"BOMTotalRain365","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_totalrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[{"property":"count","value":"$round(msg.payload.count,0)","valueType":"jsonata"},{"property":"countstring","value":"$round(msg.payload.count,0) & \" Days\"","valueType":"jsonata"},{"property":"average","value":"$round(msg.payload.average,2)","valueType":"jsonata"},{"property":"highest","value":"$round(msg.payload.highest,2)","valueType":"jsonata"},{"property":"sort","value":"4","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":870,"y":40,"wires":[[]]},{"id":"86d903d0.3690a","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":40,"wires":[["13d27691.292561"]]},{"id":"2ce5780e.110cd","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"BOM Total Rain Last 365","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 365d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":40,"wires":[["86d903d0.3690a"]]},{"id":"90a11a95.5095b","type":"inject","z":"d5885627.8d1ba8","name":"1MinInt","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":300,"wires":[["2ce5780e.110cd","9cfff822.da926","75756fdb.e53c58","fd45bc7a.fece58","9647a0c4.5e2a5","dd96f39e.29b888","619dad43.212b3c","4f1cc2df.e58f44","ac386693.e11128","ced31b40.7cc3","79431228.3483d4","a1b93d24.af819","544633b3.4aa8f4","9f77d1a3.f0c848","9b8225c3.3e52b","f2605d19.95d2c8","acc1783c.e9692","1eb674fc.d1fa53","d7054ce0.fd771","a3ca8de6.634818","d33cc0ed.3cc1f","27c76c73.7ae4a4"]]},{"id":"5cbe604c.1ed62","type":"inject","z":"fa272026.a5eb2","name":"1MinInt","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["86086341.18cb08","e9e1dec.da8e52","991115e.0a91068","c8a44499.f7875","2839b984.e7dede","f6624129.f6bd88","42f4fdeb.b48b34","77474778.22abd"]]},{"id":"86086341.18cb08","type":"influxdb in","z":"fa272026.a5eb2","influxdb":"ae13dda.6b5d8a","name":"InfluxDBSize","query":"SELECT max(\"diskBytes\")/1024/1024 AS \"value\" FROM \"_internal\".\"monitor\".\"shard\" WHERE time > now() - 1m AND \"database\"='homeassistant' FILL(null) tz('Australia/Sydney')","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":60,"wires":[["5350956a.5e9004"]]},{"id":"5350956a.5e9004","type":"split","z":"fa272026.a5eb2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":60,"wires":[["ed1d6c14.0eede8"]]},{"id":"ed1d6c14.0eede8","type":"ha-entity","z":"fa272026.a5eb2","name":"InfluxDB Size","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"influxdb_size"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:database-settings"},{"property":"unit_of_measurement","value":"Mb"}],"state":"$round(msg.payload.value, 2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":850,"y":60,"wires":[[]]},{"id":"acc1783c.e9692","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"Home Rain This Week","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\"  WHERE \"value\" <> 0 and time > now() - 7d /* and time < now() - 1w-1d */ AND (\"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null) TZ('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1100,"wires":[["3dbf3e45.2571aa"]]},{"id":"ce754827.a3f308","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1100,"wires":[["1b767a8.196e406"]]},{"id":"1b767a8.196e406","type":"ha-entity","z":"d5885627.8d1ba8","name":"HomeRainLast7Days","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_rain_last7days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$exists(msg.payload.sum) ? $round(msg.payload.sum, 2) : 0","stateType":"jsonata","attributes":[{"property":"count","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 2) : 0","valueType":"jsonata"},{"property":"countstring","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 0) & \" Days\" : \"No Rain\"","valueType":"jsonata"},{"property":"average","value":"$exists(msg.payload.average) ? $round(msg.payload.average, 2) : 0","valueType":"jsonata"},{"property":"highest","value":"$exists(msg.payload.highest) ? $round(msg.payload.highest, 2) : 0","valueType":"jsonata"},{"property":"sort","value":"1","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":1100,"wires":[[]]},{"id":"1eb674fc.d1fa53","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"Home Rain This Month","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\"  WHERE \"value\" <> 0 and time > now() - 30d /* and time < now() - 1w-1d */ AND (\"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null) TZ('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1180,"wires":[["7b392c46.8fca94"]]},{"id":"ad140ae.933f2f8","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1180,"wires":[["6a5bcb5d.8aa50c"]]},{"id":"6a5bcb5d.8aa50c","type":"ha-entity","z":"d5885627.8d1ba8","name":"HomeRainLast30Days","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_rain_last30days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$exists(msg.payload.sum) ? $round(msg.payload.sum, 2) : 0","stateType":"jsonata","attributes":[{"property":"count","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 2) : 0","valueType":"jsonata"},{"property":"countstring","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 0) & \" Days\" : \"No Rain\"","valueType":"jsonata"},{"property":"average","value":"$exists(msg.payload.average) ? $round(msg.payload.average, 2) : 0","valueType":"jsonata"},{"property":"highest","value":"$exists(msg.payload.highest) ? $round(msg.payload.highest, 2) : 0","valueType":"jsonata"},{"property":"sort","value":"3","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":1180,"wires":[[]]},{"id":"d7054ce0.fd771","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"BOM Rain This Week","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 7d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1280,"wires":[["4eb83a12.8ce31c"]]},{"id":"1cd31d9d.af1e4a","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1280,"wires":[["d4f5da6c.a1fc4"]]},{"id":"d4f5da6c.a1fc4","type":"ha-entity","z":"d5885627.8d1ba8","name":"BOMRainLast7Days","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_rain_last7days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$exists(msg.payload.sum) ? $round(msg.payload.sum, 2) : 0","stateType":"jsonata","attributes":[{"property":"count","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 2) : 0","valueType":"jsonata"},{"property":"countstring","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 0) & \" Days\" : \"No Rain\"","valueType":"jsonata"},{"property":"average","value":"$exists(msg.payload.average) ? $round(msg.payload.average, 2) : 0","valueType":"jsonata"},{"property":"highest","value":"$exists(msg.payload.highest) ? $round(msg.payload.highest, 2) : 0","valueType":"jsonata"},{"property":"sort","value":"1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":880,"y":1280,"wires":[[]]},{"id":"a3ca8de6.634818","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"BOM Rain This Month","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 30d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1320,"wires":[["2ba2045f.05da74"]]},{"id":"42519ec.b2c3ee","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1320,"wires":[["9175a68d.c94b78"]]},{"id":"9175a68d.c94b78","type":"ha-entity","z":"d5885627.8d1ba8","name":"BOMRainLast30Days","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_rain_last30days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$exists(msg.payload.sum) ? $round(msg.payload.sum, 2) : 0","stateType":"jsonata","attributes":[{"property":"count","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 2) : 0","valueType":"jsonata"},{"property":"countstring","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 0) & \" Days\" : \"No Rain\"","valueType":"jsonata"},{"property":"average","value":"$exists(msg.payload.average) ? $round(msg.payload.average, 2) : 0","valueType":"jsonata"},{"property":"highest","value":"$exists(msg.payload.highest) ? $round(msg.payload.highest, 2) : 0","valueType":"jsonata"},{"property":"sort","value":"3","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":1320,"wires":[[]]},{"id":"b6601402.363ac8","type":"ha-entity","z":"d5885627.8d1ba8","name":"HomeRainPrior7Days","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_rain_prior7days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$exists(msg.payload.sum) ? $round(msg.payload.sum, 2) : 0","stateType":"jsonata","attributes":[{"property":"count","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 2) : 0","valueType":"jsonata"},{"property":"countstring","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 0) & \" Days\" : \"No Rain\"","valueType":"jsonata"},{"property":"average","value":"$exists(msg.payload.average) ? $round(msg.payload.average, 2) : 0","valueType":"jsonata"},{"property":"highest","value":"$exists(msg.payload.highest) ? $round(msg.payload.highest, 2) : 0","valueType":"jsonata"},{"property":"sort","value":"2","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":1140,"wires":[[]]},{"id":"6d6fd078.e07128","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1140,"wires":[["b6601402.363ac8"]]},{"id":"d33cc0ed.3cc1f","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"Home Rain Last Week","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\"  WHERE \"value\" <> 0 and time > now() - 14d and time < now() - 7d AND (\"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null) TZ('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1140,"wires":[["1e4276a0.870a69"]]},{"id":"a1311251.739f98","type":"influxdb in","z":"babf8c24.5d5728","influxdb":"ae13dda.6b5d8a","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 60) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":160,"wires":[["dedbc385.8b55a8"]]},{"id":"59289f36.b911f","type":"inject","z":"babf8c24.5d5728","name":"5MinInt","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":200,"wires":[["a1311251.739f98","50c334b3.880b24","3419f6b4.adcb7a","be82ecac.5edef","b08cd2a3.50aed","7adf6a24.60dba4","ef251fbb.961f4","3c285f81.0549e","776ddf3.62b95a","c02ed359.50f178","4f87820f.bf4134","ab12b2e0.bc08b"]]},{"id":"dedbc385.8b55a8","type":"function","z":"babf8c24.5d5728","name":"1 Hour AEP","func":"\nvar _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 8.87;\nvar _ey6 = 10.2;\nvar _ey4 = 12.5;\nvar _ey3 = 14.3;\nvar _ey2 = 16.8;\nvar _ey1 = 21.5;\nvar _ey050 = 26.8;\nvar _ey020 = 33.3;\n\nvar _aep10 = 38.8;\nvar _aep5 = 45.0;\nvar _aep2 = 53.5;\nvar _aep1 = 60.1;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;  \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["eacc18d7.fafa68"]]},{"id":"eacc18d7.fafa68","type":"split","z":"babf8c24.5d5728","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":160,"wires":[["931e8b5d.3ecd48"]]},{"id":"50c334b3.880b24","type":"influxdb in","z":"babf8c24.5d5728","influxdb":"ae13dda.6b5d8a","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 20) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":220,"wires":[["d9774d2b.b19168"]]},{"id":"d9774d2b.b19168","type":"function","z":"babf8c24.5d5728","name":"20 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 16.7;\nvar _ey6 = 19.4;\nvar _ey4 = 24.4;\nvar _ey3 = 28.0;\nvar _ey2 = 33.3;\nvar _ey1 = 42.8;\nvar _ey050 = 53.6;\nvar _ey020 = 67.4;\n\nvar _aep10 = 78.4;\nvar _aep5 = 90.7;\nvar _aep2 = 107;\nvar _aep1 = 121;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["e05ed553.1cce5"]]},{"id":"e05ed553.1cce5","type":"split","z":"babf8c24.5d5728","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":220,"wires":[["86ffd3e7.43fa88"]]},{"id":"3419f6b4.adcb7a","type":"influxdb in","z":"babf8c24.5d5728","influxdb":"ae13dda.6b5d8a","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 10) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":340,"wires":[["e5fcb88.a0e16c8"]]},{"id":"e5fcb88.a0e16c8","type":"function","z":"babf8c24.5d5728","name":"10 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 23.4;\nvar _ey6 = 27.4;\nvar _ey4 = 34.5;\nvar _ey3 = 39.7;\nvar _ey2 = 47.1;\nvar _ey1 = 60.1;\nvar _ey050 = 75.4;\nvar _ey020 = 94.5;\n\nvar _aep632 = 60.1;\nvar _aep50 = 67.9;\nvar _aep20 = 92.7;\nvar _aep10 = 110;\nvar _aep5 = 127;\nvar _aep2 = 150;\nvar _aep1 = 168;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n}\nif (msg.payload[0].max>_aep632){ \n    _AEP = (63.2);  \n}\nif (msg.payload[0].max>_aep50){ \n    _AEP = (50);  \n}\nif (msg.payload[0].max>_aep20){ \n    _AEP = (20);  \n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["71fe3e28.87004"]]},{"id":"71fe3e28.87004","type":"split","z":"babf8c24.5d5728","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":340,"wires":[["1f05af3.bd51451"]]},{"id":"be82ecac.5edef","type":"influxdb in","z":"babf8c24.5d5728","influxdb":"ae13dda.6b5d8a","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 120) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":100,"wires":[["bac099ff.67ad6"]]},{"id":"bac099ff.67ad6","type":"function","z":"babf8c24.5d5728","name":"2 Hour AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 5.75;\nvar _ey6 = 6.56;\nvar _ey4 = 7.96;\nvar _ey3 = 9.01;\nvar _ey2 = 10.5;\nvar _ey1 = 13.3;\nvar _ey050 = 16.5;\nvar _ey020 = 20.3;\n\nvar _aep10 = 23.6;\nvar _aep5 = 27.3;\nvar _aep2 = 31.3;\nvar _aep1 = 36.3;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":100,"wires":[["50dd6eea.3a5fa"]]},{"id":"50dd6eea.3a5fa","type":"split","z":"babf8c24.5d5728","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":100,"wires":[["d659df36.30d61"]]},{"id":"931e8b5d.3ecd48","type":"moment","z":"babf8c24.5d5728","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":160,"wires":[["3e7de169.4cf3ce"]]},{"id":"d659df36.30d61","type":"moment","z":"babf8c24.5d5728","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":100,"wires":[["4b8ffd88.01a24c"]]},{"id":"86ffd3e7.43fa88","type":"moment","z":"babf8c24.5d5728","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":220,"wires":[["ae64dbe3.1e2d2"]]},{"id":"1f05af3.bd51451","type":"moment","z":"babf8c24.5d5728","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":340,"wires":[["5b2a34dc.cc5e94"]]},{"id":"b08cd2a3.50aed","type":"influxdb in","z":"babf8c24.5d5728","influxdb":"ae13dda.6b5d8a","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 360) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":40,"wires":[["17ae15c5.221a52"]]},{"id":"17ae15c5.221a52","type":"function","z":"babf8c24.5d5728","name":"6 Hour AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 2.77;\nvar _ey6 = 3.15;\nvar _ey4 = 3.81;\nvar _ey3 = 4.29;\nvar _ey2 = 4.99;\nvar _ey1 = 6.23;\nvar _ey050 = 7.7;\nvar _ey020 = 9.3;\n\nvar _aep10 = 10.7;\nvar _aep5 = 12.3;\nvar _aep2 = 14.4;\nvar _aep1 = 16.1;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n    _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n    _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n    _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":40,"wires":[["35d2a262.1d824e"]]},{"id":"35d2a262.1d824e","type":"split","z":"babf8c24.5d5728","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":40,"wires":[["d5891f.053fa6e"]]},{"id":"d5891f.053fa6e","type":"moment","z":"babf8c24.5d5728","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":40,"wires":[["9c32ef9e.198c5"]]},{"id":"9c32ef9e.198c5","type":"ha-entity","z":"babf8c24.5d5728","name":"AEP_6hour_Weekly","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_6hour_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"1","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":40,"wires":[[]]},{"id":"4b8ffd88.01a24c","type":"ha-entity","z":"babf8c24.5d5728","name":"AEP_2hour_Weekly","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_2hour_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"2","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":100,"wires":[[]]},{"id":"3e7de169.4cf3ce","type":"ha-entity","z":"babf8c24.5d5728","name":"AEP_1hour_Weekly","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_1hour_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"3","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":160,"wires":[[]]},{"id":"ae64dbe3.1e2d2","type":"ha-entity","z":"babf8c24.5d5728","name":"AEP_20Min_Weekly","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_20Min_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"4","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1180,"y":220,"wires":[[]]},{"id":"5b2a34dc.cc5e94","type":"ha-entity","z":"babf8c24.5d5728","name":"AEP_10Min_Weekly","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_10Min_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"5","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1180,"y":340,"wires":[[]]},{"id":"7adf6a24.60dba4","type":"influxdb in","z":"babf8c24.5d5728","influxdb":"ae13dda.6b5d8a","name":"Max intensity 365 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 360) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":250,"y":740,"wires":[["aac34741.ca143"]]},{"id":"aac34741.ca143","type":"function","z":"babf8c24.5d5728","name":"6 Hour AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 2.77;\nvar _ey6 = 3.15;\nvar _ey4 = 3.81;\nvar _ey3 = 4.29;\nvar _ey2 = 4.99;\nvar _ey1 = 6.23;\nvar _ey050 = 7.7;\nvar _ey020 = 9.3;\n\nvar _aep10 = 10.7;\nvar _aep5 = 12.3;\nvar _aep2 = 14.4;\nvar _aep1 = 16.1;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n    _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n    _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n    _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":740,"wires":[["40072e21.fbc6b8"]]},{"id":"40072e21.fbc6b8","type":"split","z":"babf8c24.5d5728","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":740,"wires":[["f64a02c0.541f1"]]},{"id":"f64a02c0.541f1","type":"moment","z":"babf8c24.5d5728","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":890,"y":740,"wires":[["c5d24e79.cdf26"]]},{"id":"c5d24e79.cdf26","type":"ha-entity","z":"babf8c24.5d5728","name":"AEP_6hour_Yearly","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_6hour_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"},{"property":"sort","value":"1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":740,"wires":[[]]},{"id":"ef251fbb.961f4","type":"influxdb in","z":"babf8c24.5d5728","influxdb":"ae13dda.6b5d8a","name":"Max intensity 365 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 20) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":250,"y":860,"wires":[["eef88c2c.5eb148"]]},{"id":"eef88c2c.5eb148","type":"function","z":"babf8c24.5d5728","name":"20 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 16.7;\nvar _ey6 = 19.4;\nvar _ey4 = 24.4;\nvar _ey3 = 28.0;\nvar _ey2 = 33.3;\nvar _ey1 = 42.8;\nvar _ey050 = 53.6;\nvar _ey020 = 67.4;\n\nvar _aep10 = 78.4;\nvar _aep5 = 90.7;\nvar _aep2 = 107;\nvar _aep1 = 121;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":860,"wires":[["26320ad0.a2071e"]]},{"id":"26320ad0.a2071e","type":"split","z":"babf8c24.5d5728","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":860,"wires":[["db6b1c0e.8ec99"]]},{"id":"db6b1c0e.8ec99","type":"moment","z":"babf8c24.5d5728","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":890,"y":860,"wires":[["1c6730fe.5720d7"]]},{"id":"1c6730fe.5720d7","type":"ha-entity","z":"babf8c24.5d5728","name":"AEP_20Min_Yearly","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_20Min_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"},{"property":"sort","value":"4","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":860,"wires":[[]]},{"id":"7aa8028e.75aaac","type":"inject","z":"d7532c8a.7df9e","name":"1MinInt","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["dc0dba4a.5943d","3a45014e.1642ce","14d98783.248778","4c893fc8.5fec4","c39468e1.d720d"]]},{"id":"dc0dba4a.5943d","type":"influxdb in","z":"d7532c8a.7df9e","influxdb":"c1d28f3a.999178","name":"MoviesCount","query":"SELECT time, last(\"total\") as value FROM \"varken\".\"varken 30d-1h\".\"Tautulli\" WHERE time >= now() - 3630s AND \"section_name\"='Movies' AND \"type\"='library_stats'","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":60,"wires":[["92678c1d.bb106"]]},{"id":"92678c1d.bb106","type":"split","z":"d7532c8a.7df9e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":60,"wires":[["db8dabb7.51f83"]]},{"id":"db8dabb7.51f83","type":"ha-entity","z":"d7532c8a.7df9e","name":"PlexStats_MovieCount","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"PlexStats_MovieCount"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:filmstrip"},{"property":"unit_of_measurement","value":"Movies"}],"state":"msg.payload.value","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":860,"y":60,"wires":[[]]},{"id":"3a45014e.1642ce","type":"influxdb in","z":"d7532c8a.7df9e","influxdb":"c1d28f3a.999178","name":"TVShowCount","query":"SELECT time, last(\"total\") as value FROM \"varken\".\"varken 30d-1h\".\"Tautulli\" WHERE time >= now() - 3630s AND \"section_name\"='TV Shows' AND \"type\"='library_stats'","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":300,"wires":[["70c3ce22.e5588"]]},{"id":"70c3ce22.e5588","type":"split","z":"d7532c8a.7df9e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":300,"wires":[["943db8e2.eb4428"]]},{"id":"943db8e2.eb4428","type":"ha-entity","z":"d7532c8a.7df9e","name":"PlexStats_TVShowCount","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"PlexStats_TVShowCount"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:television-play"},{"property":"unit_of_measurement","value":"TV Shows"}],"state":"msg.payload.value","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":870,"y":300,"wires":[[]]},{"id":"14d98783.248778","type":"influxdb in","z":"d7532c8a.7df9e","influxdb":"c1d28f3a.999178","name":"TVSeasonsCount","query":"SELECT time, last(\"seasons\") as value FROM \"varken\".\"varken 30d-1h\".\"Tautulli\" WHERE time >= now() - 3630s AND \"section_name\"='TV Shows' AND \"type\"='library_stats'","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":340,"wires":[["52432ac0.3caf24"]]},{"id":"52432ac0.3caf24","type":"split","z":"d7532c8a.7df9e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":340,"wires":[["fd053220.3acfa"]]},{"id":"fd053220.3acfa","type":"ha-entity","z":"d7532c8a.7df9e","name":"PlexStats_TVSeasonsCount","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"PlexStats_TVSeasonCount"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:television-play"},{"property":"unit_of_measurement","value":"Seasons"}],"state":"msg.payload.value","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":340,"wires":[[]]},{"id":"4c893fc8.5fec4","type":"influxdb in","z":"d7532c8a.7df9e","influxdb":"c1d28f3a.999178","name":"TVEpisodesCount","query":"SELECT time, last(\"episodes\") as value FROM \"varken\".\"varken 30d-1h\".\"Tautulli\" WHERE time >= now() - 3630s AND \"section_name\"='TV Shows' AND \"type\"='library_stats'","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":380,"wires":[["3fee3da7.d46692"]]},{"id":"3fee3da7.d46692","type":"split","z":"d7532c8a.7df9e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":380,"wires":[["8fcacd47.e3f83"]]},{"id":"8fcacd47.e3f83","type":"ha-entity","z":"d7532c8a.7df9e","name":"PlexStats_TVEpisodesCount","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"PlexStats_TVEpisodeCount"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:television-play"},{"property":"unit_of_measurement","value":"Episodes"}],"state":"msg.payload.value","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":380,"wires":[[]]},{"id":"3c285f81.0549e","type":"influxdb in","z":"babf8c24.5d5728","influxdb":"ae13dda.6b5d8a","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 5) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":280,"wires":[["4e7acad4.d320ac"]]},{"id":"4e7acad4.d320ac","type":"function","z":"babf8c24.5d5728","name":"5 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 30.7;\nvar _ey6 = 35.9;\nvar _ey4 = 44.9;\nvar _ey3 = 51.4;\nvar _ey2 = 60.5;\nvar _ey1 = 76.3;\nvar _ey050 = 95.3;\nvar _ey020 = 119;\n\n\nvar _aep10 = 138;\nvar _aep5 = 160;\nvar _aep2 = 189;\nvar _aep1 = 212;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["d55605f4.1ce59"]]},{"id":"d55605f4.1ce59","type":"split","z":"babf8c24.5d5728","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":280,"wires":[["f0aa00a1.4945f8"]]},{"id":"f0aa00a1.4945f8","type":"moment","z":"babf8c24.5d5728","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":280,"wires":[["fedcc9b8.2176b8"]]},{"id":"fedcc9b8.2176b8","type":"ha-entity","z":"babf8c24.5d5728","name":"AEP_5Min_Weekly","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_5Min_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"6","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":280,"wires":[[]]},{"id":"c02ed359.50f178","type":"influxdb in","z":"babf8c24.5d5728","influxdb":"ae13dda.6b5d8a","name":"Max intensity 365 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 60) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":250,"y":680,"wires":[["e43bf5ca.bf9718"]]},{"id":"e43bf5ca.bf9718","type":"function","z":"babf8c24.5d5728","name":"1 Hour AEP","func":"\nvar _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 8.87;\nvar _ey6 = 10.2;\nvar _ey4 = 12.5;\nvar _ey3 = 14.3;\nvar _ey2 = 16.8;\nvar _ey1 = 21.5;\nvar _ey050 = 26.8;\nvar _ey020 = 33.3;\n\nvar _aep10 = 38.8;\nvar _aep5 = 45.0;\nvar _aep2 = 53.5;\nvar _aep1 = 60.1;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;  \nreturn msg;","outputs":1,"noerr":0,"x":450,"y":680,"wires":[["afb81932.41df8"]]},{"id":"afb81932.41df8","type":"split","z":"babf8c24.5d5728","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":680,"wires":[["c40dc2c3.b941c8"]]},{"id":"776ddf3.62b95a","type":"influxdb in","z":"babf8c24.5d5728","influxdb":"ae13dda.6b5d8a","name":"Max intensity 365 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 120) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":250,"y":620,"wires":[["b0df9678.010fd"]]},{"id":"b0df9678.010fd","type":"function","z":"babf8c24.5d5728","name":"2 Hour AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 5.75;\nvar _ey6 = 6.56;\nvar _ey4 = 7.96;\nvar _ey3 = 9.01;\nvar _ey2 = 10.5;\nvar _ey1 = 13.3;\nvar _ey050 = 16.5;\nvar _ey020 = 20.3;\n\nvar _aep10 = 23.6;\nvar _aep5 = 27.3;\nvar _aep2 = 31.3;\nvar _aep1 = 36.3;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":620,"wires":[["b0fdbdb7.27eeb8"]]},{"id":"b0fdbdb7.27eeb8","type":"split","z":"babf8c24.5d5728","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":620,"wires":[["32229d8d.a4ab72"]]},{"id":"c40dc2c3.b941c8","type":"moment","z":"babf8c24.5d5728","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":890,"y":680,"wires":[["20278b5a.8e2fa4"]]},{"id":"32229d8d.a4ab72","type":"moment","z":"babf8c24.5d5728","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":890,"y":620,"wires":[["2b1fa0f5.064bf"]]},{"id":"2b1fa0f5.064bf","type":"ha-entity","z":"babf8c24.5d5728","name":"AEP_2hour_Yearly","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_2hour_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"},{"property":"sort","value":"2","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":620,"wires":[[]]},{"id":"20278b5a.8e2fa4","type":"ha-entity","z":"babf8c24.5d5728","name":"AEP_1hour_Yearly","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_1hour_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"},{"property":"sort","value":"3","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":680,"wires":[[]]},{"id":"8035f609.c576a8","type":"ha-entity","z":"d5885627.8d1ba8","name":"BOMRainPrior7Days","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_rain_prior7days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$exists(msg.payload.sum) ? $round(msg.payload.sum, 2) : 0","stateType":"jsonata","attributes":[{"property":"count","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 2) : 0","valueType":"jsonata"},{"property":"countstring","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 0) & \" Days\" : \"No Rain\"","valueType":"jsonata"},{"property":"average","value":"$exists(msg.payload.average) ? $round(msg.payload.average, 2) : 0","valueType":"jsonata"},{"property":"highest","value":"$exists(msg.payload.highest) ? $round(msg.payload.highest, 2) : 0","valueType":"jsonata"},{"property":"sort","value":"2","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":1360,"wires":[[]]},{"id":"b5381011.4143e8","type":"split","z":"d5885627.8d1ba8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1360,"wires":[["8035f609.c576a8"]]},{"id":"27c76c73.7ae4a4","type":"influxdb in","z":"d5885627.8d1ba8","influxdb":"ae13dda.6b5d8a","name":"BOM Rain Last Week","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 14d and time < now() - 7d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1360,"wires":[["a7594347.20bcf8"]]},{"id":"7b392c46.8fca94","type":"function","z":"d5885627.8d1ba8","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload = {\n        sum: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1180,"wires":[["ad140ae.933f2f8"]]},{"id":"1e4276a0.870a69","type":"function","z":"d5885627.8d1ba8","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload = {\n        sum: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1140,"wires":[["6d6fd078.e07128"]]},{"id":"3dbf3e45.2571aa","type":"function","z":"d5885627.8d1ba8","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload = {\n        sum: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1100,"wires":[["ce754827.a3f308"]]},{"id":"4eb83a12.8ce31c","type":"function","z":"d5885627.8d1ba8","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload = {\n        sum: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1280,"wires":[["1cd31d9d.af1e4a"]]},{"id":"2ba2045f.05da74","type":"function","z":"d5885627.8d1ba8","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload = {\n        sum: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1320,"wires":[["42519ec.b2c3ee"]]},{"id":"a7594347.20bcf8","type":"function","z":"d5885627.8d1ba8","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload = {\n        sum: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1360,"wires":[["b5381011.4143e8"]]},{"id":"ab12b2e0.bc08b","type":"influxdb in","z":"babf8c24.5d5728","influxdb":"ae13dda.6b5d8a","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 10) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":240,"y":980,"wires":[["e888c6ab.9c13d"]]},{"id":"e888c6ab.9c13d","type":"function","z":"babf8c24.5d5728","name":"10 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 23.4;\nvar _ey6 = 27.4;\nvar _ey4 = 34.5;\nvar _ey3 = 39.7;\nvar _ey2 = 47.1;\nvar _ey1 = 60.1;\nvar _ey050 = 75.4;\nvar _ey020 = 94.5;\n\nvar _aep632 = 60.1;\nvar _aep50 = 67.9;\nvar _aep20 = 92.7;\nvar _aep10 = 110;\nvar _aep5 = 127;\nvar _aep2 = 150;\nvar _aep1 = 168;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n}\nif (msg.payload[0].max>_aep632){ \n    _AEP = (63.2);  \n}\nif (msg.payload[0].max>_aep50){ \n    _AEP = (50);  \n}\nif (msg.payload[0].max>_aep20){ \n    _AEP = (20);  \n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":980,"wires":[["8e94b36a.30142"]]},{"id":"8e94b36a.30142","type":"split","z":"babf8c24.5d5728","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":980,"wires":[["57c0dfc1.7efbf"]]},{"id":"57c0dfc1.7efbf","type":"moment","z":"babf8c24.5d5728","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":890,"y":980,"wires":[["842f01fc.12319"]]},{"id":"842f01fc.12319","type":"ha-entity","z":"babf8c24.5d5728","name":"AEP_10Min_Yearly","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_10Min_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"5","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":980,"wires":[[]]},{"id":"4f87820f.bf4134","type":"influxdb in","z":"babf8c24.5d5728","influxdb":"ae13dda.6b5d8a","name":"Max intensity 365 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 5) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":250,"y":920,"wires":[["cb72646d.c3dd18"]]},{"id":"cb72646d.c3dd18","type":"function","z":"babf8c24.5d5728","name":"5 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 30.7;\nvar _ey6 = 35.9;\nvar _ey4 = 44.9;\nvar _ey3 = 51.4;\nvar _ey2 = 60.5;\nvar _ey1 = 76.3;\nvar _ey050 = 95.3;\nvar _ey020 = 119;\n\n\nvar _aep10 = 138;\nvar _aep5 = 160;\nvar _aep2 = 189;\nvar _aep1 = 212;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["808ffc9d.2496f8"]]},{"id":"808ffc9d.2496f8","type":"split","z":"babf8c24.5d5728","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":920,"wires":[["83fa54b8.57a97"]]},{"id":"83fa54b8.57a97","type":"moment","z":"babf8c24.5d5728","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":890,"y":920,"wires":[["b16ef0f7.52011"]]},{"id":"b16ef0f7.52011","type":"ha-entity","z":"babf8c24.5d5728","name":"AEP_5Min_Yearly","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_5Min_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"6","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":920,"wires":[[]]},{"id":"8fa31d33.f6d548","type":"inject","z":"fa272026.a5eb2","name":"HASS Connected?","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"homeassistant.homeAssistant.isConnected","payloadType":"global","x":200,"y":960,"wires":[["6311fbf4.a8b4f4"]]},{"id":"6311fbf4.a8b4f4","type":"rbe","z":"fa272026.a5eb2","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":450,"y":960,"wires":[["6b4ce4b0.ad037c"]]},{"id":"6b4ce4b0.ad037c","type":"interval-length","z":"fa272026.a5eb2","format":"human","bytopic":false,"minimum":"35","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"secs","maximumunit":"secs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":680,"y":960,"wires":[["118db764.b6fe21"],[]]},{"id":"118db764.b6fe21","type":"mqtt out","z":"fa272026.a5eb2","name":"","topic":"harestart","qos":"","retain":"true","broker":"c2d1b0f2.af1008","x":920,"y":960,"wires":[]},{"id":"e9e1dec.da8e52","type":"influxdb in","z":"fa272026.a5eb2","influxdb":"ae13dda.6b5d8a","name":"InfluxDBSize","query":"SELECT max(\"diskBytes\")/1024/1024 AS \"value\" FROM \"_internal\".\"monitor\".\"shard\" WHERE time > now() - 1m AND \"database\"='varken' AND \"retentionPolicy\"='varken 30d-1h' FILL(null) tz('Australia/Sydney')","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":120,"wires":[["31f229f7.c178ce"]]},{"id":"31f229f7.c178ce","type":"split","z":"fa272026.a5eb2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":120,"wires":[["2cd48d0a.141992"]]},{"id":"2cd48d0a.141992","type":"ha-entity","z":"fa272026.a5eb2","name":"Varken InfluxDB Size","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"influxdb_varken_size"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:database-settings"},{"property":"unit_of_measurement","value":"Mb"}],"state":"$round(msg.payload.value, 2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":870,"y":120,"wires":[[]]},{"id":"991115e.0a91068","type":"influxdb in","z":"fa272026.a5eb2","influxdb":"ae13dda.6b5d8a","name":"InfluxDBSize","query":"SELECT max(\"diskBytes\")/1024/1024 AS \"value\" FROM \"_internal\".\"monitor\".\"shard\" WHERE time > now() - 1m AND \"database\"='unifi' FILL(null) tz('Australia/Sydney')","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":180,"wires":[["5b2fddcd.422e6c"]]},{"id":"5b2fddcd.422e6c","type":"split","z":"fa272026.a5eb2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":180,"wires":[["f757099a.d4cc4"]]},{"id":"f757099a.d4cc4","type":"ha-entity","z":"fa272026.a5eb2","name":"Unifi InfluxDB Size","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"influxdb_unifipoller_size"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:database-settings"},{"property":"unit_of_measurement","value":"Mb"}],"state":"$round(msg.payload.value, 2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":860,"y":180,"wires":[[]]},{"id":"c39468e1.d720d","type":"influxdb in","z":"d7532c8a.7df9e","influxdb":"c1d28f3a.999178","name":"TVShowsAdded24hrs","query":"SELECT difference(distinct(\"episodes\")) as value FROM \"varken\".\"varken 30d-1h\".\"Tautulli\" WHERE (\"type\" = 'library_stats' AND \"section_name\" =~ /^TV Shows$/) AND time >= now() - 24h group by time(1d)","rawOutput":false,"precision":"","retentionPolicy":"","x":400,"y":240,"wires":[["83011213.b2108"]]},{"id":"83011213.b2108","type":"split","z":"d7532c8a.7df9e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":240,"wires":[["506bee74.0a6ac8"]]},{"id":"506bee74.0a6ac8","type":"ha-entity","z":"d7532c8a.7df9e","name":"PlexStats_TVShowAdded24Hrs","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"PlexStats_TVShowAdded24Hrs"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:television-play"},{"property":"unit_of_measurement","value":"TV Shows"}],"state":"msg.payload.value","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":890,"y":240,"wires":[[]]},{"id":"c8a44499.f7875","type":"influxdb in","z":"fa272026.a5eb2","influxdb":"ae13dda.6b5d8a","name":"UniFi_UAP","query":"SELECT last(\"ip\") AS \"Address\", last(\"uptime\") AS \"Uptime\", last(\"last_seen\") *1000 AS \"Last Seen\", last(\"cpu\") AS \"CPU\", last(\"user-num_sta\") AS \"Users\", last(\"guest-num_sta\") AS \"Guests\", last(\"stat_rx_bytes\") AS \"rxbytes\", last(\"stat_tx_bytes\") AS \"txbytes\" FROM \"unifi\".\"autogen\".\"uap\" WHERE (\"name\" =~ /^(UFO)$/ AND \"site_name\" =~ /^(TBSmartHome \\(default\\))$/) AND time >= now() - 5m GROUP BY \"name\", \"model\", \"serial\", \"site_name\", \"source\", \"type\", \"version\", \"mac\"","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":260,"wires":[["107dec2d.367fa4"]]},{"id":"317647b8.d297a8","type":"split","z":"fa272026.a5eb2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":260,"wires":[["68b96baa.7c5a24","957cbb4.eef05c8","4ab87d18.2096bc"]]},{"id":"7b4905a4.5af234","type":"ha-entity","z":"fa272026.a5eb2","name":"UniFiPoller_UAP","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_uap"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:wifi"},{"property":"unit_of_measurement","value":""}],"state":"msg.payload.name","stateType":"msg","attributes":[{"property":"ip_address","value":"payload.Address","valueType":"msg"},{"property":"model","value":"payload.model","valueType":"msg"},{"property":"version","value":"payload.version","valueType":"msg"},{"property":"mac","value":"payload.mac","valueType":"msg"},{"property":"serial","value":"payload.serial","valueType":"msg"},{"property":"sitename","value":"payload.site_name","valueType":"msg"},{"property":"type","value":"payload.type","valueType":"msg"},{"property":"cpu","value":"payload.CPU","valueType":"jsonata"},{"property":"users","value":"payload.Users","valueType":"msg"},{"property":"controller","value":"payload.source","valueType":"msg"},{"property":"guests","value":"payload.Guests","valueType":"msg"},{"property":"uptime","value":"payload.uptime_clean","valueType":"msg"},{"property":"lastseen","value":"payload.lastseen_clean","valueType":"msg"},{"property":"tx_data","value":"payload.tx_clean","valueType":"msg"},{"property":"rx_data","value":"payload.rx_clean","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1190,"y":260,"wires":[[]]},{"id":"68b96baa.7c5a24","type":"moment","z":"fa272026.a5eb2","name":"","topic":"","input":"payload.lastseen","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"fromNow","locale":"C","output":"payload.lastseen_clean","outputType":"msg","outTz":"Australia/Sydney","x":940,"y":260,"wires":[["7b4905a4.5af234"]]},{"id":"2839b984.e7dede","type":"influxdb in","z":"fa272026.a5eb2","influxdb":"ae13dda.6b5d8a","name":"UniFi_USG","query":"SELECT last(\"uptime\") AS \"Uptime\", last(\"ip\") AS \"Address\", last(\"bytes\") AS \"Data\" FROM \"unifi\".\"autogen\".\"usg\" WHERE time >= now() - 1h GROUP BY \"name\", \"model\", \"serial\", \"site_name\", \"mac\", \"version\", \"source\", \"type\"","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":340,"wires":[["b8c23fee.b0a668"]]},{"id":"772d469c.a8406","type":"split","z":"fa272026.a5eb2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":340,"wires":[["6486439b.4c63f4"]]},{"id":"8c14123d.0a703","type":"ha-entity","z":"fa272026.a5eb2","name":"UniFiPoller_USG","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_usg"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:router"},{"property":"unit_of_measurement","value":""}],"state":"msg.payload.name","stateType":"msg","attributes":[{"property":"model","value":"payload.model","valueType":"msg"},{"property":"version","value":"payload.version","valueType":"msg"},{"property":"data","value":"payload.data_clean","valueType":"msg"},{"property":"serial","value":"payload.serial","valueType":"msg"},{"property":"sitename","value":"payload.site_name","valueType":"msg"},{"property":"type","value":"payload.type","valueType":"msg"},{"property":"controller","value":"payload.source","valueType":"msg"},{"property":"external_ip_address","value":"payload.Address","valueType":"msg"},{"property":"uptime","value":"payload.uptime_clean","valueType":"msg"},{"property":"lastseen","value":"payload.lastseen_clean","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1190,"y":340,"wires":[[]]},{"id":"6486439b.4c63f4","type":"moment","z":"fa272026.a5eb2","name":"","topic":"","input":"payload.lastseen","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"fromNow","locale":"C","output":"payload.lastseen_clean","outputType":"msg","outTz":"Australia/Sydney","x":940,"y":340,"wires":[["8c14123d.0a703"]]},{"id":"b8c23fee.b0a668","type":"function","z":"fa272026.a5eb2","name":"Data","func":"bytes = msg.payload[0].Data;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].data_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["f694f36c.37fa78"]]},{"id":"f694f36c.37fa78","type":"function","z":"fa272026.a5eb2","name":"Uptime","func":"time = msg.payload[0].Uptime;\n\nminutes = ((time % 3600) / 60);\nif (minutes === 0) {\n  minutes = \"\";\n} else {\n  minutes = parseInt(minutes) + \"min\"\n}\n \nhours = ((time % 86400) / 3600);\nif (hours === 0) {\n  hours = \"\";\n} else {\n  hours = parseInt(hours) + \"hr \"\n}\n\ndays = (time / 86400);\nif (days === 0) {\n  days = \"\";\n} else {\n  days = parseInt(days) + \"d \"\n}\n \nmsg.payload[0].uptime_clean = days + hours + minutes;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":380,"wires":[["772d469c.a8406"]]},{"id":"3543d1f7.9b4ae6","type":"function","z":"fa272026.a5eb2","name":"Uptime","func":"time = msg.payload[0].Uptime;\n\nminutes = ((time % 3600) / 60);\nif (minutes === 0) {\n  minutes = \"\";\n} else {\n  minutes = parseInt(minutes) + \"min\"\n}\n \nhours = ((time % 86400) / 3600);\nif (hours === 0) {\n  hours = \"\";\n} else {\n  hours = parseInt(hours) + \"hr \"\n}\n\ndays = (time / 86400);\nif (days === 0) {\n  days = \"\";\n} else {\n  days = parseInt(days) + \"d \"\n}\n \nmsg.payload[0].uptime_clean = days + hours + minutes;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":260,"wires":[["4fce1e37.117b"]]},{"id":"f6624129.f6bd88","type":"influxdb in","z":"fa272026.a5eb2","influxdb":"ae13dda.6b5d8a","name":"UniFi_USW","query":"SELECT last(\"uptime\") AS \"Uptime\", last(\"rx_bytes\") AS \"rxbytes\", last(\"tx_bytes\") AS \"txbytes\" FROM \"unifi\".\"autogen\".\"usw\" WHERE time >= now() - 1h GROUP BY \"name\", \"model\", \"serial\", \"site_name\", \"mac\", \"version\", \"source\", \"type\"","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":440,"wires":[["539a7a42.3f2384"]]},{"id":"b4c340da.f3f0a","type":"split","z":"fa272026.a5eb2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":440,"wires":[["52846a02.f37a44","7e607f36.2c7aa8","e96c7bb3.6563b8"]]},{"id":"b2a53f98.321f6","type":"ha-entity","z":"fa272026.a5eb2","name":"UniFiPoller_USW","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_usw"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:router"},{"property":"unit_of_measurement","value":""}],"state":"msg.payload.name","stateType":"msg","attributes":[{"property":"model","value":"payload.model","valueType":"msg"},{"property":"version","value":"payload.version","valueType":"msg"},{"property":"serial","value":"payload.serial","valueType":"msg"},{"property":"sitename","value":"payload.site_name","valueType":"msg"},{"property":"type","value":"payload.type","valueType":"msg"},{"property":"controller","value":"payload.source","valueType":"msg"},{"property":"uptime","value":"payload.uptime_clean","valueType":"msg"},{"property":"rx_data","value":"payload.rx_clean","valueType":"msg"},{"property":"tx_data","value":"payload.tx_clean","valueType":"msg"},{"property":"lastseen","value":"payload.lastseen_clean","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1190,"y":440,"wires":[[]]},{"id":"52846a02.f37a44","type":"moment","z":"fa272026.a5eb2","name":"","topic":"","input":"payload.lastseen","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"fromNow","locale":"C","output":"payload.lastseen_clean","outputType":"msg","outTz":"Australia/Sydney","x":940,"y":440,"wires":[["b2a53f98.321f6"]]},{"id":"539a7a42.3f2384","type":"function","z":"fa272026.a5eb2","name":"RX Bytes","func":"bytes = msg.payload[0].rxbytes;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1000)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].rx_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\nmsg.payload[0].rx = (bytes / Math.pow(1000, 3)).toFixed(1);\nmsg.payload[0].rx_units = sizes[i];\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":440,"wires":[["3025261.11cd95a"]]},{"id":"3025261.11cd95a","type":"function","z":"fa272026.a5eb2","name":"Uptime","func":"time = msg.payload[0].Uptime;\n\nminutes = ((time % 3600) / 60);\nif (minutes === 0) {\n  minutes = \"\";\n} else {\n  minutes = parseInt(minutes) + \"min\"\n}\n \nhours = ((time % 86400) / 3600);\nif (hours === 0) {\n  hours = \"\";\n} else {\n  hours = parseInt(hours) + \"hr \"\n}\n\ndays = (time / 86400);\nif (days === 0) {\n  days = \"\";\n} else {\n  days = parseInt(days) + \"d \"\n}\n \nmsg.payload[0].uptime_clean = days + hours + minutes;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["d0d9c975.db75b8"]]},{"id":"d0d9c975.db75b8","type":"function","z":"fa272026.a5eb2","name":"TX Bytes","func":"bytes = msg.payload[0].txbytes;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1000)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].tx_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\nmsg.payload[0].tx = (bytes / Math.pow(1000, 3)).toFixed(1);\nmsg.payload[0].tx_units = sizes[i];\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":520,"wires":[["b4c340da.f3f0a"]]},{"id":"7e607f36.2c7aa8","type":"ha-entity","z":"fa272026.a5eb2","name":"UniFiPoller_USW_RX","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_usw_rx"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:router"},{"property":"unit_of_measurement","value":"GB"}],"state":"msg.payload.rx","stateType":"msg","attributes":[{"property":"units","value":"payload.rx_units","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1200,"y":500,"wires":[[]]},{"id":"e96c7bb3.6563b8","type":"ha-entity","z":"fa272026.a5eb2","name":"UniFiPoller_USW_TX","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_usw_tx"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:router"},{"property":"unit_of_measurement","value":"GB"}],"state":"msg.payload.tx","stateType":"msg","attributes":[{"property":"units","value":"payload.tx_units","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1200,"y":540,"wires":[[]]},{"id":"107dec2d.367fa4","type":"function","z":"fa272026.a5eb2","name":"RX Bytes","func":"bytes = msg.payload[0].rxbytes;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1000)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].rx_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\nmsg.payload[0].rx = (bytes / Math.pow(1000, 3)).toFixed(1);\nmsg.payload[0].rx_units = sizes[i];\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["3543d1f7.9b4ae6"]]},{"id":"4fce1e37.117b","type":"function","z":"fa272026.a5eb2","name":"TX Bytes","func":"bytes = msg.payload[0].txbytes;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1000)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].tx_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\nmsg.payload[0].tx = (bytes / Math.pow(1000, 3)).toFixed(1);\nmsg.payload[0].tx_units = sizes[i];\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":300,"wires":[["317647b8.d297a8"]]},{"id":"4ab87d18.2096bc","type":"ha-entity","z":"fa272026.a5eb2","name":"UniFiPoller_UAP_RX","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_uap_rx"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:wifi"},{"property":"unit_of_measurement","value":"GB"}],"state":"msg.payload.rx","stateType":"msg","attributes":[{"property":"units","value":"payload.rx_units","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1200,"y":180,"wires":[[]]},{"id":"957cbb4.eef05c8","type":"ha-entity","z":"fa272026.a5eb2","name":"UniFiPoller_UAP_TX","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_uap_tx"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:router"},{"property":"unit_of_measurement","value":"GB"}],"state":"msg.payload.tx","stateType":"msg","attributes":[{"property":"units","value":"payload.tx_units","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1200,"y":220,"wires":[[]]},{"id":"42f4fdeb.b48b34","type":"influxdb in","z":"fa272026.a5eb2","influxdb":"ae13dda.6b5d8a","name":"UniFi_USG_WWW","query":"SELECT last(\"uptime\") AS \"uptime\", last(\"drops\") AS \"drops\", last(\"latency\") AS \"latency\", last(\"tx_bytes-r\") AS \"tx_bytes\", last(\"rx_bytes-r\") AS \"rx_bytes\", last(\"speedtest_lastrun\") AS \"speedtest_lastrun\"  FROM \"unifi\".\"autogen\".\"subsystems\" WHERE (\"site_name\" =~ /^TBSmartHome \\(default\\)$/ AND \"subsystem\" = 'www') AND time >= now() - 3h and time <= now() - 5s","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":660,"wires":[["998f2504.df0b2"]]},{"id":"e2a0a248.dad23","type":"split","z":"fa272026.a5eb2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":750,"y":660,"wires":[["b2faf3ad.5078a"]]},{"id":"ab2ad1b0.e2144","type":"ha-entity","z":"fa272026.a5eb2","name":"UniFiPoller_USG_WWW","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_usg_www"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:web"},{"property":"unit_of_measurement","value":""}],"state":"msg.payload.drops","stateType":"msg","attributes":[{"property":"uptime","value":"payload.uptime_clean","valueType":"msg"},{"property":"drops","value":"payload.drops","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1190,"y":660,"wires":[[]]},{"id":"ef92ee1d.2b96f8","type":"function","z":"fa272026.a5eb2","name":"TX Bytes","func":"bytes = msg.payload[0].tx_bytes;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1000)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].tx_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\nmsg.payload[0].tx = (bytes / Math.pow(1000, 3)).toFixed(1);\nmsg.payload[0].tx_units = sizes[i];\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":700,"wires":[["e2a0a248.dad23"]]},{"id":"8e30ba54.5e75b8","type":"function","z":"fa272026.a5eb2","name":"Uptime","func":"time = msg.payload[0].uptime;\n\nminutes = ((time % 3600) / 60);\nif (minutes === 0) {\n  minutes = \"\";\n} else {\n  minutes = parseInt(minutes) + \"min\"\n}\n \nhours = ((time % 86400) / 3600);\nif (hours === 0) {\n  hours = \"\";\n} else {\n  hours = parseInt(hours) + \"hr \"\n}\n\ndays = (time / 86400);\nif (days === 0) {\n  days = \"\";\n} else {\n  days = parseInt(days) + \"d \"\n}\n \nmsg.payload[0].uptime_clean = days + hours + minutes;\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":660,"wires":[["ef92ee1d.2b96f8"]]},{"id":"998f2504.df0b2","type":"function","z":"fa272026.a5eb2","name":"RX Bytes","func":"bytes = msg.payload[0].rx_bytes;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1000)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].rx_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\nmsg.payload[0].rx = (bytes / Math.pow(1000, 3)).toFixed(1);\nmsg.payload[0].rx_units = sizes[i];\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":620,"wires":[["8e30ba54.5e75b8"]]},{"id":"b2faf3ad.5078a","type":"moment","z":"fa272026.a5eb2","name":"","topic":"","input":"payload.speedtest_lastrun","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"fromNow","locale":"C","output":"payload.speedtest_lastrun_clean","outputType":"msg","outTz":"Australia/Sydney","x":940,"y":660,"wires":[["ab2ad1b0.e2144"]]},{"id":"8cc21d54.8d41a","type":"inject","z":"2c268447.85c5c4","name":"30secInt","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["a4346df0.47269","6cff0b5c.8fe484","d5eb7986.ffaee8","d4b6569f.813db8","7e7ccf5c.218ca8"]]},{"id":"a4346df0.47269","type":"influxdb in","z":"2c268447.85c5c4","influxdb":"ae13dda.6b5d8a","name":"Flights_Now","query":"select count(*) as \"no_flights\" from (SELECT count(\"messages\") FROM \"adsb\".\"autogen\".\"adsb_icao\" WHERE time >= now() - 5m GROUP BY \"hex\", \"flight\")","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":40,"wires":[["3eae6cd1.d43354"]]},{"id":"7f24fc6d.dabfb4","type":"split","z":"2c268447.85c5c4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":40,"wires":[["e22cc942.3a94f"]]},{"id":"e22cc942.3a94f","type":"ha-entity","z":"2c268447.85c5c4","name":"flighttracker_flights_now","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"flighttracker_flights_now"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":"Flights"}],"state":"payload.no_flights_count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":930,"y":40,"wires":[[]]},{"id":"6cff0b5c.8fe484","type":"influxdb in","z":"2c268447.85c5c4","influxdb":"ae13dda.6b5d8a","name":"Flights_1Hr","query":"select count(*) as \"no_flights\" from (SELECT count(\"messages\") FROM \"adsb\".\"autogen\".\"adsb_icao\" WHERE time >= now() - 1h GROUP BY \"hex\", \"flight\")","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":80,"wires":[["7dff290f.69bb4"]]},{"id":"edac9102.ddc42","type":"split","z":"2c268447.85c5c4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":80,"wires":[["ac727c28.44b77"]]},{"id":"ac727c28.44b77","type":"ha-entity","z":"2c268447.85c5c4","name":"flighttracker_flights_1hr","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"flighttracker_flights_1hr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":"Flights"}],"state":"payload.no_flights_count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":930,"y":80,"wires":[[]]},{"id":"3eae6cd1.d43354","type":"function","z":"2c268447.85c5c4","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload[0] = {\n        no_flights_count: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":40,"wires":[["7f24fc6d.dabfb4"]]},{"id":"7dff290f.69bb4","type":"function","z":"2c268447.85c5c4","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload[0] = {\n        no_flights_count: 0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["edac9102.ddc42"]]},{"id":"d5eb7986.ffaee8","type":"influxdb in","z":"2c268447.85c5c4","influxdb":"ae13dda.6b5d8a","name":"Flights_6Hr","query":"select count(*) as \"no_flights\" from (SELECT count(\"messages\") FROM \"adsb\".\"autogen\".\"adsb_icao\" WHERE time >= now() - 6h GROUP BY \"hex\", \"flight\")","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":120,"wires":[["e15565ae.d47498"]]},{"id":"e15565ae.d47498","type":"function","z":"2c268447.85c5c4","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload[0] = {\n        no_flights_count: 0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":120,"wires":[["c6b2b2a0.e6d1f8"]]},{"id":"c6b2b2a0.e6d1f8","type":"split","z":"2c268447.85c5c4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":120,"wires":[["b0cd82d.0e1088"]]},{"id":"b0cd82d.0e1088","type":"ha-entity","z":"2c268447.85c5c4","name":"flighttracker_flights_6hr","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"flighttracker_flights_6hr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":"Flights"}],"state":"payload.no_flights_count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":930,"y":120,"wires":[[]]},{"id":"d4b6569f.813db8","type":"influxdb in","z":"2c268447.85c5c4","influxdb":"ae13dda.6b5d8a","name":"Flights_12Hr","query":"select count(*) as \"no_flights\" from (SELECT count(\"messages\") FROM \"adsb\".\"autogen\".\"adsb_icao\" WHERE time >= now() - 12h GROUP BY \"hex\", \"flight\")","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":160,"wires":[["e68018f6.fe265"]]},{"id":"e68018f6.fe265","type":"function","z":"2c268447.85c5c4","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload[0] = {\n        no_flights_count: 0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["de5085c9.e4a818"]]},{"id":"de5085c9.e4a818","type":"split","z":"2c268447.85c5c4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":160,"wires":[["b8ba9bae.43ed7"]]},{"id":"b8ba9bae.43ed7","type":"ha-entity","z":"2c268447.85c5c4","name":"flighttracker_flights_12hr","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"flighttracker_flights_12hr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":"Flights"}],"state":"payload.no_flights_count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":930,"y":160,"wires":[[]]},{"id":"7e7ccf5c.218ca8","type":"influxdb in","z":"2c268447.85c5c4","influxdb":"ae13dda.6b5d8a","name":"Flights_24Hr","query":"select count(*) as \"no_flights\" from (SELECT count(\"messages\") FROM \"adsb\".\"autogen\".\"adsb_icao\" WHERE time >= now() - 24h GROUP BY \"hex\", \"flight\")","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":200,"wires":[["edda75c5.34c7d"]]},{"id":"edda75c5.34c7d","type":"function","z":"2c268447.85c5c4","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload[0] = {\n        no_flights_count: 0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":200,"wires":[["ff16774c.a6dbc8"]]},{"id":"ff16774c.a6dbc8","type":"split","z":"2c268447.85c5c4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":200,"wires":[["35216d50.21fec2"]]},{"id":"35216d50.21fec2","type":"ha-entity","z":"2c268447.85c5c4","name":"flighttracker_flights_24hr","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"flighttracker_flights_24hr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":"Flights"}],"state":"payload.no_flights_count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":930,"y":200,"wires":[[]]},{"id":"eeff696b.4acb","type":"http request","z":"2c268447.85c5c4","name":"Dump1090_Stats","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64:8079/data/stats.json","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":280,"wires":[["37d6c47e.5a55fc"]]},{"id":"f43add65.bed378","type":"inject","z":"2c268447.85c5c4","name":"1minInt","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["eeff696b.4acb"]]},{"id":"37d6c47e.5a55fc","type":"json","z":"2c268447.85c5c4","name":"","property":"payload","action":"","pretty":true,"x":570,"y":280,"wires":[["f24014c9.ac0258"]]},{"id":"f24014c9.ac0258","type":"ha-entity","z":"2c268447.85c5c4","name":"flighttracker_maxdistance_nm","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"flighttracker_maxdistance_nm"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":"nm"}],"state":"msg.payload['total']['max_distance_in_nautical_miles']","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":950,"y":280,"wires":[[]]},{"id":"77474778.22abd","type":"influxdb in","z":"fa272026.a5eb2","influxdb":"ae13dda.6b5d8a","name":"InfluxDBSize","query":"SELECT max(\"diskBytes\")/1024/1024 AS \"value\" FROM \"_internal\".\"monitor\".\"shard\" WHERE time > now() - 1m AND \"database\"='adsb' FILL(null) tz('Australia/Sydney')","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":20,"wires":[["2f6cf634.bdae72"]]},{"id":"2f6cf634.bdae72","type":"split","z":"fa272026.a5eb2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":20,"wires":[["fc09a2d1.e54b4"]]},{"id":"fc09a2d1.e54b4","type":"ha-entity","z":"fa272026.a5eb2","name":"ADSB InfluxDB Size","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"influxdb_size_adsb"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:database-settings"},{"property":"unit_of_measurement","value":"Mb"}],"state":"$round(msg.payload.value, 2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":870,"y":20,"wires":[[]]},{"id":"e686ce76.0ac3c8","type":"function","z":"95f050d4.79cdd8","name":"Get Inputs","func":"\nmsg.payload = {\n    'fc': 4, \n    'unitid': 1, \n    'address': 5000 , \n    'quantity': 100\n}; \nreturn msg;","outputs":1,"noerr":0,"x":250,"y":60,"wires":[["7fd6f925.f78d8"]]},{"id":"7fd6f925.f78d8","type":"modbus-flex-getter","z":"95f050d4.79cdd8","name":"SunGrow Inverter","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"daac038a.ad7cc8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":60,"wires":[["52fd833a.98e03c","9ed309ff.9fb3","c367aa3b.7e33e8","3a319b9e.2fc6b4","a9f15fb5.d6db2","d9add54e.f8931","ee6486df.dc1928","4f748b0f.6bcd74","91b848fc.d0eff","d99a3425.bad508","badf76f2.8d5ad","da56a437.c91db","d8039aa5.f9af18","60495a73.217f5c","f177a971.98fee8","5bc42a23.e9331c","a07f430c.3e15a8","11c910a4.7850e7"],["5f0bd86a.6da428"]]},{"id":"5f0bd86a.6da428","type":"modbus-response","z":"95f050d4.79cdd8","name":"","registerShowMax":"100","x":950,"y":20,"wires":[]},{"id":"52fd833a.98e03c","type":"debug","z":"95f050d4.79cdd8","name":"5000","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":20,"wires":[]},{"id":"9ed309ff.9fb3","type":"ha-entity","z":"95f050d4.79cdd8","name":"Inverter Temp","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_inverter_temp"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer"},{"property":"unit_of_measurement","value":"°C"}],"state":"payload[7]/10","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":700,"y":460,"wires":[[]]},{"id":"ee6486df.dc1928","type":"ha-entity","z":"95f050d4.79cdd8","name":"PV1 Voltage","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_pv1_voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"}],"state":"payload[10]/10","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":690,"y":760,"wires":[[]]},{"id":"4f748b0f.6bcd74","type":"ha-entity","z":"95f050d4.79cdd8","name":"PV1 Current","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_pv1_current"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"A"}],"state":"payload[11]/10","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":690,"y":820,"wires":[[]]},{"id":"91b848fc.d0eff","type":"ha-entity","z":"95f050d4.79cdd8","name":"PV2 Voltage","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_pv2_voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"}],"state":"payload[12]/10","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":690,"y":880,"wires":[[]]},{"id":"d99a3425.bad508","type":"ha-entity","z":"95f050d4.79cdd8","name":"PV2 Current","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_pv2_current"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"A"}],"state":"payload[13]/10","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":690,"y":940,"wires":[[]]},{"id":"c367aa3b.7e33e8","type":"ha-entity","z":"95f050d4.79cdd8","name":"Inverter AC Voltage","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_inverter_ac_voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"}],"state":"payload[18]/10","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":710,"y":520,"wires":[[]]},{"id":"d9add54e.f8931","type":"ha-entity","z":"95f050d4.79cdd8","name":"PV Power","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_pv_power"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"W"}],"state":"payload[16]","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":680,"y":700,"wires":[[]]},{"id":"3a319b9e.2fc6b4","type":"ha-entity","z":"95f050d4.79cdd8","name":"Inverter AC Current","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_inverter_ac_current"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"A"}],"state":"payload[21]/10","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":710,"y":580,"wires":[[]]},{"id":"a9f15fb5.d6db2","type":"ha-entity","z":"95f050d4.79cdd8","name":"Inverter Grid Frequency","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_inverter_grid_frequency"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Hz"}],"state":"payload[35]/10","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":730,"y":640,"wires":[[]]},{"id":"3ecc78bf.a817","type":"ha-entity","z":"95f050d4.79cdd8","name":"Grid Power","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_grid_power"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"W"}],"state":"payload[999]","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":870,"y":360,"wires":[[]]},{"id":"badf76f2.8d5ad","type":"ha-entity","z":"95f050d4.79cdd8","name":"House Load","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_house_load"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"W"}],"state":"payload[90]","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":690,"y":400,"wires":[[]]},{"id":"da56a437.c91db","type":"ha-entity","z":"95f050d4.79cdd8","name":"Total Yield","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_total_yield"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"kWh"}],"state":"payload[3]","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":690,"y":300,"wires":[[]]},{"id":"d8039aa5.f9af18","type":"ha-entity","z":"95f050d4.79cdd8","name":"Daily Yield","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_daily_yield"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"kWh"}],"state":"payload[2]","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":690,"y":240,"wires":[[]]},{"id":"60495a73.217f5c","type":"ha-entity","z":"95f050d4.79cdd8","name":"Daily Grid Energy","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_daily_grid_energy"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"kWh"}],"state":"payload[96]/10","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":710,"y":180,"wires":[[]]},{"id":"f177a971.98fee8","type":"ha-entity","z":"95f050d4.79cdd8","name":"Total Grid Energy","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_total_grid_energy"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"kWh"}],"state":"payload[98]/10","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":710,"y":120,"wires":[[]]},{"id":"5bc42a23.e9331c","type":"ha-entity","z":"95f050d4.79cdd8","name":"Total Feed-In Energy","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_total_feedin_energy"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"kWh"}],"state":"payload[94]/10","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":720,"y":60,"wires":[[]]},{"id":"a07f430c.3e15a8","type":"function","z":"95f050d4.79cdd8","name":"input 5029","func":"newMsg = msg.payload[82];\nmsg.payload[997] = msg.payload[82].toString().length;\nif (newMsg.toString().length==5) {\n    newMsg = newMsg - 65535;\n} else {\n    newMsg = newMsg;\n}\n\nmsg.payload[998] = msg.payload[82];\nmsg.payload[999] = newMsg\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["3ecc78bf.a817","3c04ef75.696928"]]},{"id":"6e022081.ea3d18","type":"debug","z":"95f050d4.79cdd8","d":true,"name":"Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":340,"wires":[]},{"id":"e7ed4575.4af728","type":"inject","z":"d7532c8a.7df9e","name":"","repeat":"120","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":130,"y":500,"wires":[["c80c3ebc.e0f42"]]},{"id":"3ac709d3.f97cde","type":"http request","z":"d7532c8a.7df9e","name":"post to AMBER","method":"POST","ret":"obj","url":"https://api.amberelectric.com.au/prices/listprices","tls":"","x":640,"y":520,"wires":[["35cb1b41.7e6afc","9d4c55ae.b0fbc8"]]},{"id":"c80c3ebc.e0f42","type":"function","z":"d7532c8a.7df9e","name":"set payload and headers","func":"msg.headers = 'Content-Type: application/json';\nmsg.payload= '{ \"postcode\": \"2340\" }';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":520,"wires":[["3ac709d3.f97cde"]]},{"id":"35cb1b41.7e6afc","type":"debug","z":"d7532c8a.7df9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":480,"wires":[]},{"id":"cffaf137.0ce64","type":"ha-entity","z":"d7532c8a.7df9e","name":"AmberElectric_E1","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"amber_currentprice_e1"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"c/kWh"}],"state":"$round(msg.payload.buy, 2)","stateType":"jsonata","attributes":[{"property":"Period","value":"payload.latestperiod","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1230,"y":500,"wires":[[]]},{"id":"f42966a3.ad0fa","type":"debug","z":"d7532c8a.7df9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":560,"wires":[]},{"id":"9d4c55ae.b0fbc8","type":"function","z":"d7532c8a.7df9e","name":"Split Array","func":"function groupBy(arr, property) {\n  return arr.reduce(function(memo, x) {\n    if (!memo[x[property]]) { memo[x[property]] = []; }\n    memo[x[property]].push(x);\n    return memo;\n  }, {});\n}\n\nvar values = msg.payload.data.variablePricesAndRenewables;\n\nvar o = groupBy(values, 'periodType')\n\n\nmsg.payload[\"actual\"] = o.ACTUAL;\nmsg.payload[\"forecast\"] = o.FORECAST;\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":830,"y":520,"wires":[["18dac6b9.81a3f9"]]},{"id":"18dac6b9.81a3f9","type":"function","z":"d7532c8a.7df9e","name":"Calculate Price","func":"var _wsale =  parseFloat(msg.payload.actual[msg.payload.actual.length - 1].wholesaleKWHPrice);\nvar _wsalefull = msg.payload.actual[-1];\n\nvar _fixedPriceB;\nvar _fixedPriceS;\nvar _fixedPriceC;\nvar _lossFactorB;\nvar _lossFactorS;\nvar _lossFactorC;\n\nvar _rtailB;\nvar _rtailS;\nvar _rtailC;\n\n_fixedPriceB = parseFloat(msg.payload.data.staticPrices.E1.totalfixedKWHPrice);\n_lossFactorB = parseFloat(msg.payload.data.staticPrices.E1.lossFactor);\n\n_fixedPriceS = parseFloat(msg.payload.data.staticPrices.B1.totalfixedKWHPrice);\n_lossFactorS = parseFloat(msg.payload.data.staticPrices.B1.lossFactor);\n\n_fixedPriceC = parseFloat(msg.payload.data.staticPrices.E2.totalfixedKWHPrice);\n_lossFactorC = parseFloat(msg.payload.data.staticPrices.E2.lossFactor);\n\n\n_rtailB = ((_wsale * _lossFactorB) + _fixedPriceB)/1;\n_rtailS = ((_wsale * _lossFactorS) + _fixedPriceS)/-1;\n_rtailC = ((_wsale * _lossFactorC) + _fixedPriceC)/1;\n\nmsg.payload[\"full\"] = _wsalefull;\nmsg.payload[\"buy\"] = _rtailB;\nmsg.payload[\"sell\"] = _rtailS;\nmsg.payload[\"controlled\"] = _rtailC;\nmsg.payload[\"latestperiod\"] = msg.payload.actual[msg.payload.actual.length - 1].latestPeriod;\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1020,"y":520,"wires":[["f42966a3.ad0fa","cffaf137.0ce64","91249862.5694a","247b555a.f45482"]]},{"id":"91249862.5694a","type":"ha-entity","z":"d7532c8a.7df9e","name":"AmberElectric_E2","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"amber_currentprice_e2"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"c/kWh"}],"state":"$round(msg.payload.controlled, 2)","stateType":"jsonata","attributes":[{"property":"Period","value":"payload.latestperiod","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1230,"y":460,"wires":[[]]},{"id":"247b555a.f45482","type":"ha-entity","z":"d7532c8a.7df9e","name":"AmberElectric_B1","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"amber_currentprice_b1"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:solar-power"},{"property":"unit_of_measurement","value":"c/kWh"}],"state":"$round(msg.payload.sell, 2)","stateType":"jsonata","attributes":[{"property":"Period","value":"payload.latestperiod","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1230,"y":420,"wires":[[]]},{"id":"e25ca7e9.0ef01","type":"ha-entity","z":"95f050d4.79cdd8","name":"House Solar Percent","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_house_solar_percent"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:home-import-outline"},{"property":"unit_of_measurement","value":"%"}],"state":"$round(payload[999],2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1100,"y":100,"wires":[[]]},{"id":"11c910a4.7850e7","type":"function","z":"95f050d4.79cdd8","name":"","func":"house = msg.payload[90];\nsolar = msg.payload[16];\n\npct = (solar/house)*100;\nif(pct > 100) {\n    pct = 100\n} else {\n    pct = pct\n}\n\nmsg.payload[999] = pct;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":100,"wires":[["e25ca7e9.0ef01"]]},{"id":"3c04ef75.696928","type":"function","z":"95f050d4.79cdd8","name":"","func":"house = msg.payload[90];\nsolar = msg.payload[16];\ngrid = msg.payload[999];\n\nif(grid < 0) {\n    gridpct = (Math.abs(grid)/solar)*100;\n} else {\n    gridpct = 0;\n}\n\nif(house > solar) {\n    housepct = 100;\n} else {\n    housepct = (house/solar)*100;\n}\n\nmsg.payload[997] = housepct;\nmsg.payload[996] = gridpct;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":320,"wires":[["89362226.a2e418","7fc4e6a2.70685"]]},{"id":"7fc4e6a2.70685","type":"ha-entity","z":"95f050d4.79cdd8","name":"PV to House Percent","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_solar_percent_tohouse"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:home-import-outline"},{"property":"unit_of_measurement","value":"%"}],"state":"$round(payload[997],2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1040,"y":260,"wires":[[]]},{"id":"89362226.a2e418","type":"ha-entity","z":"95f050d4.79cdd8","name":"PV to Grid Percent","server":"873eb379.8e35a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"solar_sungrow_solar_percent_togrid"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"%"}],"state":"$round(payload[996],2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1030,"y":320,"wires":[[]]},{"id":"59739794.952408","type":"inject","z":"95f050d4.79cdd8","name":"30sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["e686ce76.0ac3c8"]]},{"id":"46da9b16.84789c","type":"inject","z":"c83366d9.71094","d":true,"name":"","repeat":"","crontab":"*/1 0-23 * * *","once":false,"onceDelay":"","topic":"","payload":"Every 1 min.","payloadType":"str","x":141,"y":61,"wires":[["66511986.ecfa9"]]},{"id":"22a0b36b.915ddc","type":"debug","z":"c83366d9.71094","name":"","active":true,"console":"false","complete":"false","x":710,"y":60,"wires":[]},{"id":"66511986.ecfa9","type":"http request","z":"c83366d9.71094","name":"FX info","method":"GET","ret":"txt","paytoqs":false,"url":"http://www.gaitame.com/rate/neo20/rate_UTF8.asp","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":60,"wires":[["eec21a29.6746"]]},{"id":"eec21a29.6746","type":"function","z":"c83366d9.71094","name":"JSON for Cloudant","func":"var lines = msg.payload.split( \"\\r\" ).join( \"\" ).split( \"\\n\" );\n\nvar dt = new Date();\nvar yyyy = dt.getFullYear();\nvar mm = dt.getMonth() + 1;\nvar dd = dt.getDate();\nvar hh = dt.getHours();\nvar nn = dt.getMinutes();\nvar ss = dt.getSeconds();\nvar tz = dt.getTimezoneOffset() / -60;\nvar datetime = yyyy + '-' + ( mm < 10 ? '0' : '' ) + mm + '-' + ( dd < 10 ? '0' : '' ) + dd\n  + ' ' + ( hh < 10 ? '0' : '' ) + hh + ':' + ( nn < 10 ? '0' : '' ) + nn + ':' + ( ss < 10 ? '0' : '' ) + ss\n  + ( tz >= 0 ? '+' : '-' ) + Math.abs( tz );\nvar rate = { _id: datetime };\n\nfor( var i = 0; i < lines.length; i ++ ){\n  var line = lines[i];\n  var x = line.split( \",\" );\n  if( x.length > 1 ){\n    var name = x[0];\n    var bid = x[1];\n    rate[name] = parseFloat( bid );\n  }\n}\n\nmsg.payload = rate;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[["22a0b36b.915ddc"]]},{"id":"6ead41b8.a1cf1","type":"modbus-read","z":"95f050d4.79cdd8","d":true,"name":"Inverter","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"5000","quantity":"100","rate":"1","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"daac038a.ad7cc8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"x":140,"y":360,"wires":[["6e022081.ea3d18"],["51fc0e04.05fc3"]]},{"id":"51fc0e04.05fc3","type":"modbus-response","z":"95f050d4.79cdd8","d":true,"name":"","registerShowMax":20,"x":350,"y":380,"wires":[]}]